	
	.header{
		height: 40px;
		width: 320px;

		min-width: 100%;
		background-color: grey;

		box-shadow: 0 0.25em 1em 0 rgba(0, 0, 0, 0.25);

	
	}

	.header-input{
		display: none;
	}

	.header-input-blog{
		display: none;
	}

	.header-input-logo{
		margin-top: 9px;
		margin-left: 5px;

	}
	#log-bar{
		display: none;
	}

	#login-but{
		margin-left: 3px;
		margin-top: 7px;
		display: none;

	}

	#login-button{
		display: block;
		margin-top: 7px;
		color: white;

		font-size: 0.8em;
		font-family: Calibri;
		opacity: 0.8;

		border-radius: 3px;
		-moz-border-radius: 3px;
		-webkit-border-radius: 3px;
	}

	.signup-but{
		margin-top: 7px;
	}

	.banner{
	height: 50px;
	width: 320px;

	min-width: 100%;

	color: grey;
	background-color: transparent;
	box-shadow: 0 0.025em 0.2em 0 rgba(0, 0, 0, 0.25);

	margin-bottom: 5px;


	
	}

	.banner p{
		text-align: center;

		font-size: 100%;
		font-family: Arial;

		padding-top: 15px;
		margin-bottom: 10px;

	}

	#no-more{
	background: none repeat scroll 0 0 crimson;
	width: 320px;
	height: 20px;

	min-width: 100%;
			    
				    color: white;
				    display: none;
				    font-family: Arial;
				    font-size: 0.7em;
				    opacity: 0.7;

				      
				    
				    padding: 10px;
				    position: fixed;
				   
	}

	
	#result{

	height: auto;
	width: 320px;

	

	-webkit-animation: fadeInOut 3s;
	-moz-animation: fadeInOut 3s;
   	animation: fadeInOut 3s;


	}

	#result div{
		float: left;
	}

	#result #one, #result #two, #result #three, #result #four, #result #five, #result #six, #result #seven, #result #feedone{
				    	height: 200px;
						width: 300px;

						min-height: ;
						min-width: ;

						
						float: left;
						margin-left: 17px;
						margin-right: 1em;
						margin-bottom: 0px;
						margin-top: 3px;
	}

	.userbar{
	height: 900px;
	width: 320px;

	background: transparent;
	color: black;

	}

	#res{
		height: auto;
		width: 320px;
	}

	#res #port-one, #res #port-two, #res #port-three, #res #port-four{
				    	height: 200px;
						width: 300px;

						min-height: ;
						min-width: ;

						
						float: left;
						margin-left: 15px;
						margin-right: 1em;
						margin-bottom: 0px;
						margin-top: 3px;
	}



	
	.white_content {
	        display: none;
	        position: fixed;
	        top: 10px;
	        left: 7px;

	        width: 300px;
	        height: 400px;

	        max-height: ;

	        padding: 10px;

	        font-family: Arial;
	        font-size: 0.5em;
	        
	        

	        background-color: white;
	        z-index:1002;
	        overflow: auto;

	        -webkit-animation: fadeInOut 1s;
					-moz-animation: fadeInOut 1s;
	   				animation: fadeInOut 1s;
	        
	}	

	.white_content_log {
	        display: none;
	        position: fixed;
	        top: 30px;
	        left: 7px;

	        width: 300px;
	        height: 350px;
	        padding: 10px;

	        font-family: Arial;
	        font-size: 0.5em;
	        
	        

	        background-color: white;
	        z-index:1002;
	        overflow: auto;

	        border-radius: 5px;
	 		-moz-border-radius: 5px;
	 		-webkit-border-radius: 5px;

	 		-webkit-animation: fadeInOut 1s;
			-moz-animation: fadeInOut 1s;
	   		animation: fadeInOut 1s;

	               
	}	

	.white_content_log_small {
	        display: none;
	        position: fixed;
	        top: 30px;
	        left: 7px;

	        width: 300px;
	        height: 300px;
	        padding: 10px;

	        font-family: Arial;
	        font-size: 0.5em;
	        
	        

	        background-color: white;
	        z-index:1002;
	        overflow: auto;

	        border-radius: 5px;
	 		-moz-border-radius: 5px;
	 		-webkit-border-radius: 5px;

	 		-webkit-animation: fadeInOut 1s;
			-moz-animation: fadeInOut 1s;
	   		animation: fadeInOut 1s;

	               
	}		    


	.black_overlay{
	        display: none;
	        position: fixed;
	        top: 0%;
	        left: 0%;
	        width: 100%;
	        height: 100%;
	        background-color: black;
	        z-index:1001;

	        -moz-opacity: 0.6;
	        opacity:.60;        
	        filter: alpha(opacity=80);

	        -webkit-animation: fadeInOut 3s;
					-moz-animation: fadeInOut 3s;
	   				animation: fadeInOut 3s;

	        
	    }

	    .black_overlay_log{
	        display: none;
	        position: fixed;
	        top: 0%;
	        left: 0%;
	        width: 100%;
	        height: 100%;
	        background-color: black;
	        z-index:1001;
	        -moz-opacity: 0.6;
	        opacity:.60;
	        filter: alpha(opacity=80);

	                -webkit-animation: fadeInOut 16s;
					-moz-animation: fadeInOut 16s;
	   				animation: fadeInOut 16s;

	    }
	    .black_overlay_log_small{
	        display: none;
	        position: fixed;
	        top: 0%;
	        left: 0%;
	        width: 100%;
	        height: 100%;
	        background-color: black;
	        z-index:1001;
	        -moz-opacity: 0.6;
	        opacity:.60;
	        filter: alpha(opacity=80);

	                -webkit-animation: fadeInOut 16s;
					-moz-animation: fadeInOut 16s;
	   				animation: fadeInOut 16s;

	    }

	    #bro{
	    	margin-left: 110px;
	    }

	    #upthis-message{
			height: 30px;
			width:150px;
			background: orangered;
			color: white;
			opacity: 0.8;

			padding: 3px;
			margin-bottom: 3px;

			-moz-border-radius: 10px;
			-webkit-border-radius: 10px;
			border-radius: 10px;

			display: none;
		}
		#cross{
			margin-left:95%; 
			height:3px; 
			padding: 1px; 
			background:url(images/shut.png); 
			background-size:contain;
		}

	    .preview{
			-webkit-transition: all 0.4s ease-in-out;
		    -moz-transition: all 0.4s ease-in-out;
		    -o-transition: all 0.4s ease-in-out;
		    -ms-transition: all 0.4s ease-in-out;
		    transition: all 0.4s ease-in-out;

		    
		    
		    width:280px; 
		    height:175px; 
		    
		    background-color: lightgrey;

		    border-radius: 5px;
		 	-moz-border-radius: 5px;
		 	-webkit-border-radius: 5px;

		 	box-shadow: 0 0em 0.125em 0 grey;
		    -moz-box-shadow: 0 0em 0.125em 0 grey;
		    -webkit-box-shadow: 0 0em 0.125em 0 grey;

		    
		    margin-left: 2%;
		    padding: 3px;
		   

		}


		#upload-form{
			height: 300px; 
			width:60%; 
			 

			margin-left: -5%;
		}

		#upload-info{
			display: none;
		}

		#upload-title{
			width: 150px;
			margin-left: -60px;
		}

		#para{
			margin-left: 40px;
		}

		#photo{
			 max-height:175px; max-width:280px;
		}

	    #log-cross{
	    	margin-left: 94%;
	    	margin-bottom: 20px;
	    }

	    #log-text{
	    	width: 90%;
	    	margin-left: 0%;
	    }

	    #log-form{
	    	width: 80%;
	    	height: 150px;
	    	margin-left: 2px;
	    }

.tag{
	height: 20px;
	width: 50px;
}

.infobar{
	width: 320px;
	height: 190px;

	min-width: 100%;

	background-color: whitesmoke;

	padding-top: 10px;
	box-shadow: 0 0.025em 0.2em 0.05em rgba(0, 0, 0, 0.25);
}

.infobar-name{
	height: 5%;
	padding-top: 10px;
}

#userbanner-margin{
	margin-left: 0px;
}

.userbanner{
	height: 35px;
	width: 320px;

	min-width: 99.5%;

	background: lightgrey;
	color: black;
	

}

.user-menu{
	height: 78%;
	width: 100px;

	background-color: transparent;
	color: black;

	font-family: abel;
	float: left;
	
	
	padding-top: 8px;

	overflow: hidden;

}

.user-menu:hover{
	background: grey;
	color: white;
}

.user-menu-select{
	height: 80%;
	width: 100px;

	background-color: rgba(0,0,0, 0.20);
	color: white;

	border-top: 2px solid red;

	font-family: abel;

	float: left;
	
	
	padding-top: 5px;

	overflow: hidden;

	box-shadow: inset 0em 0em 4em 2em rgba(0,0,0,0.35);
	-moz-box-shadow: inset 0em 0em 4em 2em rgba(0,0,0,0.35);
	-webkit-box-shadow: inset 0em 0em 4em 2em rgba(0,0,0,0.35);

}

.head-small{
	display: block;
	float: right;
	margin-top: 10px;
	margin-right: 10px;
}

#hover-menu{
	height:auto;
	width: 100%;
	display: none;
	float: right;

	background: grey;
	color: whitesmoke;
	opacity: 1;

	border-radius: 3px;
	position: fixed;
	top: 0;

	z-index: 100009;

	-webkit-animation: fadeInOut 2s;
	-moz-animation: fadeInOut 2s;
   animation: fadeInOut 2s;

}

#hover-menu a{
	color: whitesmoke;
}

.hover-menu-list{
	font-size: 20px;
	font-family: kozuka;
	height: 50px;
	opacity: 0.8;

	text-align: center;

}

.nofeed{
	height: 60px;
	width: 300px;

	background-color: grey;
	color: white;

	padding: 10px;
	margin-left: 15px;
	margin-top: 20px;

	font-family: abel;
	font-size: 14px;

	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
}

#crossbar{
	cursor:pointer; 
	width:100%; 
	height:35px; 
	margin-top: 5px; 
	margin-left:89%;
}


#dp-box{
	margin-left:2%; 
	margin-top:10%; 
	padding-top:8%; 

	border: 1px solid silver; 
	width:95%; 
	height: 80%; 
	 
	border-radius:5px;
}

#dp-form{
	width: 50%;
	margin-left: 20%;
}

#light{
	height: 400px;
}

#dp-label{
	margin-left:30%;
}

#dp-div{
	margin-left: 30%;
}

#file{
	margin-left: 1%;
}