*{margin: 0%;padding: 0%;}





@font-face{font-family: abel;src: url(fonts/Abel-Regular.ttf);}

@font-face{font-family: rounded;src: url(fonts/ArialRoundedMTRegular.ttf);}

@font-face{font-family: roundedbold;src: url(fonts/ArialRoundedMTBold.TTF);}

@font-face{font-family: montserrat;src: url(fonts/Montserrat-Regular.otf);}

@keyframes fadeInOut{0%{opacity: 0;}16%{opacity: 0.9;}84%{opacity: 1;}100%{opacity: 1;}}







body{



	-webkit-animation: fadeInOut 3s;

	-moz-animation: fadeInOut 3s; 

	animation: fadeInOut 3s;

}



body a{

	text-decoration: none;

	color: black;



}



h2{font-family: abel;color: grey;}h2:hover{color: lightgrey;cursor: context-menu;}

h3{font-family: Calibri;}

.mess{
width: auto;
height: 20px;
background: orangered;
color: white;
opacity: 0.6;
font-family: abel;
padding: 5px;
border-radius: 5px;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
position: fixed;
top: 10px;
left: 41%;
}

.header{
height: 50px;
width: 1320px;
min-width: 100%;

background: white;


box-shadow: 0 0.0125em 0.6em 0 rgba(0, 0, 0, 0.25);
-moz-box-shadow: 0 0.0125em 0.6em 0 rgba(0, 0, 0, 0.25);
-webkit-box-shadow: 0 0.0125em 0.6em 0 rgba(0, 0, 0, 0.25);
padding-top: 5px;
}

@-moz-document url-prefix(){

.header{

	padding-bottom: 2px;
	box-shadow: 0 0.0125em 0.6em 0 rgba(0, 0, 0, 0.25);
	-moz-box-shadow: 0 0.0125em 0.6em 0 rgba(0, 0, 0, 0.25);
	-webkit-box-shadow: 0 0.0125em 0.6em 0 rgba(0, 0, 0, 0.25);
}

}


.header-input{

height: 25px;
width: auto;
background-color: transparent;
color: white;
font-family: Calibri;

vertical-align: middle;
padding: 1%;
padding-top: 13px;
padding: 13px 5px 0px;
float: right;

}


.header-input2{

height: 25px;
width: auto;
background-color: transparent;
color: white;
font-family: Calibri;
vertical-align: middle;
padding: 1%;
padding-top: 13px;
float: left;

}

.header-input2 a{

color: lightgrey;

}

.header-input2 a:hover{

color: grey;

}

.header-input-logo{

height: 20px;
width: 100px;
background-color: transparent;
background: url(images/logozino.png);
background-repeat: no-repeat;
background-size: contain;
color: white;
font-family: Calibri;
margin-left: 15px;
padding: 1%;
float: right;

}

.header-input-dot{

height: 8px;
width: auto;
background-color: transparent;
color: white;
padding-left: 1%;
padding-right: 1%;
padding-top: 22px;
float: right;
background:url(images/morex.png); 
background-size:contain; 
background-repeat:no-repeat;
margin-top:12px;
opacity: 0.8;
position: relative; 

/** Make it fit tightly around it's children */ 
display: inline-block;
}

.header-input-dot:hover{
	opacity: 1;
}

.drop{
text-align:center;
color: darkgrey;
float: right;
margin-left: 10px;
margin-right: 10px;
font-family: abel;
font-size: 14px;
}

.drop:hover{
color: grey;
}

.dropbulk{

text-align:center;
font-family: abel;
font-size: 14px;
margin-right:30px; 
margin-top: -6px; 
float: right;

color:orangered; 
background: white; 
padding:5px;
border: 1px solid orangered;

opacity: 0.8;

border-radius: 3px;
-moz-border-radius: 3px;
-webkit-border-radius: 3px;

box-shadow: 0 0.075em 0.15em 0 rgba(0, 0, 0, 0.25);
-moz-box-shadow: 0 0.075em 0.15em 0 rgba(0, 0, 0, 0.25);
-webkit-box-shadow: 0 0.075em 0.15em 0 rgba(0, 0, 0, 0.25);

}

.dropbulk:hover{

opacity: 1;
background: white;
color: orangered;
transition: all 0.3s ease-in-out;
-webkit-transition: all 0.3s ease-in-out; 
-moz-transition: all 0.3s ease-in-out; 
-o-transition: all 0.3s ease-in-out; 
-ms-transition: all 0.3s ease-in-out;

}


.droplog{

}

#headerduo{

height:30px;
width: 1320px;
min-width: 100%;
background: whitesmoke;
color: black;
display: none;
font-family: arial; 
font-size: 13px;
opacity: 0.7;

box-shadow: inset 0 0em 0.55em 0.4 black; 
-moz-box-shadow: inset 0 0em 0.55em 0.4 black; 
-webkit-box-shadow: inset 0 0em 0.55em 0.4 black; 

padding-top: 10px;

}

.header-input a{
	color: lightgrey;
}

.header-input:hover a{
color: grey;
opacity: 0.8;

-webkit-transition: all 0.3s ease-in-out; 
-moz-transition: all 0.3s ease-in-out; 
-o-transition: all 0.3s ease-in-out; 
-ms-transition: all 0.3s ease-in-out; 
transition: all 0.3s ease-in-out;
}

.header-input-blog{

height: 6%;
width: auto;
background-color: transparent;
color: white;
font-family: Calibri;
opacity: 0.8;
border: 2px solid lightgrey;
border-radius: 5px;

-moz-border-radius: 5px;
-webkit-border-radius: 5px; 

margin-top:7px;
margin-right: 15px;
margin-left: 5px;

padding: 3px;
padding-left: 8px;
padding-bottom: 20px;
float: right;

}

.header-input-blog:hover{

border: 2px solid grey;
-webkit-transition: all 0.3s ease-in-out; 
-moz-transition: all 0.3s ease-in-out; 
-o-transition: all 0.3s ease-in-out; 
-ms-transition: all 0.3s ease-in-out; 
transition: all 0.3s ease-in-out;

}

.header-input-blog a{

color: lightgrey;
opacity: 1;

}

.header-input-blog:hover a{

color: grey;
opacity: 1;

-webkit-transition: all 0.3s ease-in-out; 
-moz-transition: all 0.3s ease-in-out; 
-o-transition: all 0.3s ease-in-out; 
-ms-transition: all 0.3s ease-in-out; 
transition: all 0.3s ease-in-out;

}

.login{

margin-top: 10px;
outline: none;

}

.login-but{

margin-top: 10px;
outline: none;

}

.signup-but{

float:left; 
padding:4px; 
padding-top:6px; 
padding-bottom:10px; 
padding-left: 10px;

background: transparent;
border: 1px solid grey;

width: 45px; 
height: 10px; 
margin-top: 3px; 
margin-left:3px; 

color: grey; 
opacity:0.8; 
font-size: 0.8em; 
font-family: arial;
border-radius:3px;

-moz-border-radius:3px;
-webkit-border-radius:3px;

}



@-moz-document url-prefix(){

.signup-but{
	padding-bottom: 12px;
}

}



.signup-but:hover{

box-shadow: 0 0em 0.05em 0.05em rgba(0, 0, 0, 0.25);
-moz-box-shadow: 0 0em 0.05em 0.05em rgba(0, 0, 0, 0.25);
-webkit-box-shadow: 0 0em 0.05em 0.05em rgba(0, 0, 0, 0.25);
-webkit-transition: all 0.3s ease-in-out; 
-moz-transition: all 0.3s ease-in-out; 
-o-transition: all 0.3s ease-in-out; 
-ms-transition: all 0.3s ease-in-out; 
transition: all 0.3s ease-in-out;

}

#member-sign{

border: 1px solid green; 

width:80px; 
height: 36px; 

border-radius: 5px; 
background-color: white; 

opacity:0.6; 
color: green; 

font-family:arial; 
font-weight: normal; 
font-size:14px;

}


#member-sign:hover{

opacity: 0.8;
-webkit-transition: all 0.3s ease-in-out; 
-moz-transition: all 0.3s ease-in-out; 
-o-transition: all 0.3s ease-in-out; 
-ms-transition: all 0.3s ease-in-out; 
transition: all 0.3s ease-in-out;

}

#member-sign2{

margin-left: 15%; 
border: 1px solid green; 
width:80px; 
height: 36px; 
border-radius: 5px; 
background-color: white; 
opacity:0.6; 

color: green; 
font-family:arial; 
font-weight: normal; 
font-size:14px;

}

#member-sign2:hover{

opacity: 0.8;
-webkit-transition: all 0.3s ease-in-out; 
-moz-transition: all 0.3s ease-in-out; 
-o-transition: all 0.3s ease-in-out; 
-ms-transition: all 0.3s ease-in-out; 
transition: all 0.3s ease-in-out;

}

.search{

height: 40px;
width: 600px;
border: none;
margin: auto;

}

#searchwrap{
max-width: 100%; 
height: 40px; 

background: cyan; 

background: cyan; 

background: linear-gradient(to bottom right, cyan, skyblue); 
background: -moz-linear-gradient(bottom right, cyan, skyblue); 
background: -webkit-linear-gradient(left top, cyan, skyblue); 

background: -o-linear-gradient(bottom right, cyan, skyblue); 


padding: 5px 0px; 
opacity: 0.95;

}

#searchbox{

height: 40px;
width: 600px;
background-color: rgba(255,255,255,0.8);

color: #008989;


opacity: 1;
font-family: rounded;
border: none;

border-bottom: rgb(10,255,255);

-webkit-box-shadow: none;
-moz-box-shadow: none; 
box-shadow: none; 

outline: none; 
padding-left: 15px; 
padding-right: 15px;

/*
border-radius: 20px;
-moz-border-radius: 20px;
-webkit-border-radius: 20px;
-ms-border-radius: 20px;
*/

}

input[type="text"]#searchbox::-webkit-input-placeholder {
  color: #00E5E5;

}


#searchbox2{

height: 30px;
background-color: lightgrey;
color: black;opacity: 0.8;
font-family: abel;
border: none;

border-color: transparent;
-webkit-box-shadow: none;
-moz-box-shadow: none; 
box-shadow: none; 

outline: none; 
padding-left: 15px; 
padding-right: 15px;

border-radius: 5px;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
-ms-border-radius: 5px;

}

#sign{

font-size: 0.8em; 
font-family: Arial, Helvetica, Sans-serif; 

color: orangered; 
background:black;
float: left;

border-radius: 5px;
-moz-border-radius: 5px;
-webkit-border-radius: 5px; 

width: auto;
height: 20px;
margin-top: 10px;
margin-left: 5px;
padding-top: 5px;
padding-left: 5px;
padding-right: 5px;
opacity: 0.8;

-webkit-transition: all 1s ease-in-out; 
-moz-transition: all 1s ease-in-out; 
-o-transition: all 1s ease-in-out; 
-ms-transition: all 1s ease-in-out; 
transition: all 1s ease-in-out;

}

#signout{

font-size: 12px; 
font-family: tahoma; 
color: whitesmoke; 
background: white;

border: 1px solid lightgrey;
border-radius: 5px;
-moz-border-radius: 5px;
-webkit-border-radius: 5px; 

width: 80px;
min-width: 50px;
height: 20px;

margin-top: 10px;
margin-left: 2px;

padding-left: 3px;
padding-right: 3px;
padding-top: 5px;

-webkit-transition: all 1s ease-in-out; 
-moz-transition: all 1s ease-in-out; 
-o-transition: all 1s ease-in-out; 
-ms-transition: all 1s ease-in-out; 
transition: all 1s ease-in-out;

}

#sign1{

font-size: 12px; 
font-family: tahoma; 
color: orangered; 
background: #ffb499;

border: 1px solid orangered;
border-radius: 5px;
-moz-border-radius: 5px;
-webkit-border-radius: 5px; 

width: 220px;
min-width: 50px;
height: 20px;

margin-top: 10px;
margin-left: 2px;

padding-left: 3px;
padding-right: 3px;
padding-top: 5px;

opacity: 0.8;

-webkit-transition: all 1s ease-in-out; 
-moz-transition: all 1s ease-in-out; 
-o-transition: all 1s ease-in-out; 
-ms-transition: all 1s ease-in-out; 
transition: all 1s ease-in-out;

}

#sign2{

font-size: 0.8em; 
font-family: Arial, Helvetica, Sans-serif; 

background: #ffb499; 
color: orangered; 


border-radius: 5px;
-moz-border-radius: 5px; 
-webkit-border-radius: 5px; 

width: 240px;
height: 20px;

margin-top: 30px;
margin-left: 5px;

padding-top: 5px;
padding-left: 3px;

opacity: 1;

-webkit-transition: all 1s ease-in-out; 
-moz-transition: all 1s ease-in-out; 
-o-transition: all 1s ease-in-out; 
-ms-transition: all 1s ease-in-out; 
transition: all 1s ease-in-out;

}

#sign2x{
	font-size: 0.8em; 
	font-family: Arial, Helvetica, Sans-serif; 
}

#psign{

	width: 240px;

	height: 20px;
	margin-top: 30px;
	padding-top: 5px;

	background: #ffb499; 
	color: orangered; 

	border-radius: 5px;
	-moz-border-radius: 5px; 
	-webkit-border-radius: 5px; 

	opacity: 0.8;

	-webkit-transition: all 1s ease-in-out; 
	-moz-transition: all 1s ease-in-out; 
	-o-transition: all 1s ease-in-out; 
	-ms-transition: all 1s ease-in-out; 
	transition: all 1s ease-in-out;
}

#psign2{

	width: 240px;

	height: 20px;
	margin-top: 30px;
	padding-top: 5px;

	background: limegreen; 
	color: darkgreen; 

	border-radius: 5px;
	-moz-border-radius: 5px; 
	-webkit-border-radius: 5px; 

	opacity: 0.8;

	-webkit-transition: all 1s ease-in-out; 
	-moz-transition: all 1s ease-in-out; 
	-o-transition: all 1s ease-in-out; 
	-ms-transition: all 1s ease-in-out; 
	transition: all 1s ease-in-out;
}


.banner{

height: 90px;
width: 1320px;
min-width: 100%;
color: grey;

background-color: transparent;

box-shadow: 0px 2px 4px lightgrey;
-moz-box-shadow: 0px 2px 4px lightgrey;
-webkit-box-shadow: 0px 2px 4px lightgrey;

position: relative;
z-index: 99999;

}

.banner p{

text-align: center;
width: 200px;
font-size: 150%;
font-family: Arial;

margin: auto;
padding-top:30px;

}


.basehead{

height: auto;
width:1320px;
min-width: 100%;
max-width: 100%;

}


#result div{

-webkit-animation: fadeInOut 1s;
-moz-animation: fadeInOut 1s; 
animation: fadeInOut 1s;

}

#more{

background: none repeat scroll 0 0 white; 
color: white; 

font-family: Arial;
font-size: 0.7em; 
 
position: fixed; 
bottom: 20px; 
left: 50%;
margin-left: -50px;


display: none; 

border-radius: 5px;
-moz-border-radius: 5px;
-webkit-border-radius: 5px; 


-webkit-transition: all 0.4s ease-in-out; 
-moz-transition: all 0.4s ease-in-out; 
-o-transition: all 0.4s ease-in-out; 
-ms-transition: all 0.4s ease-in-out; 
transition: all 0.4s ease-in-out; 

}


#no-more{

background: none repeat scroll 0 0 #f0f0f0;
height: 20px;
min-width: 100%; 

color: grey; 
display: none; 
font-family: Arial; 
font-size: 0.8em; 

opacity: 0.8; 
padding:0px; 
position: fixed;

max-width:100%; 
padding-top:20px; 
padding-bottom: 15px; 

}

#result{

height: auto; 
width: 1280px; 
max-width: 100%;
margin-bottom: 80px;
padding-bottom: 20px;

border-bottom-left-radius: 15px;
border-bottom-right-radius: 15px;
-moz-border-bottom-left-radius: 15px;
-moz-border-bottom-right-radius: 15px;
-webkit-border-bottom-left-radius: 15px;
-webkit-border-bottom-right-radius: 15px;

-webkit-animation: fadeInOut 3s;
-moz-animation: fadeInOut 3s; 
animation: fadeInOut 3s;

}

#result #one{

height: 502px;
width: 750px;
min-height: ;
min-width: ;

margin-left: 75px;
margin-right: 1px;
margin-bottom: 0px;
margin-top: 3px;

float: left;

}


#result #two{

height: 250px;
width: 375px;
min-height: ;
min-width: ;

background-color: lightgrey;
margin-left: 1px;
margin-bottom: 1px;
margin-top: 3px;
float: left;

}

#result #three{

height: 250px;
width: 375px;
min-height: ;
min-width: ;

background-color: lightgrey;
margin-left: 1px;
margin-top: 1px;
margin-bottom: 0%;
float: left;

}

#result #four{

height: 502px;
width: 750px;
min-height: ;
min-width: ;
background-color: lightgrey;

margin-right: 78px;
margin-left: 1px;
margin-top: 3px;
margin-bottom: 1px;

float: right;

}

#result #five{

height: 250px;
width: 375px;
min-height: ;
min-width: ;

background-color: lightgrey;
margin-right: 1px;
margin-bottom: 1px;
margin-top: 3px;
float: right;

}

#result #six{

height: 250px;
width: 375px;
min-height: ;
min-width: ;

background-color: lightgrey;
margin-right: 1px;
margin-top: 1px;
margin-bottom: 1px;

float: right;

}

#result #seven{

height: 750px;
width: 1127px;
min-height:;
min-width: ;

background-color: lightgrey;

margin: 75px;
margin-top: 2px;
margin-bottom: 0px;

}


#result #feedone{

height: auto;
min-height: 130px;

width: 750px;
min-height: ;
min-width: ;

border: 6px solid white;
border-bottom: 50px solid white;

margin:auto;
margin-bottom: 50px;

box-shadow: 0px 2px 4px lightgrey;


}

.white_content{
display: none; 
position: absolute; 
top: 0; 
left: 0; 

width: 100%; 
height: 100%; 
margin: auto; 

font-family: Arial; 
font-size: 0.8em; 
background-color: white; 

z-index:1002; 
overflow: auto; 

-webkit-animation: fadeInOut 1s;
-moz-animation: fadeInOut 1s; 
animation: fadeInOut 1s;

}


.white_content_log{

display: none; 
position: fixed; 

top: 150px; 
left: 300px; 

width: 700px; 
height: 380px; 

padding: 10px; 

font-family: Arial; 
font-size: 0.8em; 

background-color: white; 
z-index:1002; 

overflow: auto; 

border-radius: 5px; 
-moz-border-radius: 5px; 
-webkit-border-radius: 5px; 

-webkit-animation: fadeInOut 1s;
-moz-animation: fadeInOut 1s; 
animation: fadeInOut 1s;

}

.white_content_log_small{

display: none; 
position: fixed; 

top: 150px; 
left: 300px; 

width: 700px; 
height: 380px; 

padding: 10px; 
font-family: Arial; 
font-size: 0.8em; 

background-color: white; 
z-index:1002; 

overflow: auto; 
border-radius: 5px; 
-moz-border-radius: 5px; 
-webkit-border-radius: 5px; 

-webkit-animation: fadeInOut 1s;
-moz-animation: fadeInOut 1s; 
animation: fadeInOut 1s;

}


.white_contentx{

display: block; 
border: 1px solid grey; 

width: 1200px; 
height: 580px; 

padding: 10px; 
font-family: Arial; 
font-size: 0.8em; 

background-color: white; 
overflow: auto; 

-webkit-animation: fadeInOut 1s;
-moz-animation: fadeInOut 1s; 
animation: fadeInOut 1s;

}

.black_overlay{

display: none; 
position: fixed; 

top: 0%; 
left: 0%; 

width: 100%; 
height: 100%; 

background-color: lightgrey; 
z-index:1001; 

-moz-opacity: 0.6; opacity:.60; 

filter: alpha(opacity=80); 
-webkit-animation: fadeInOut 3s;
-moz-animation: fadeInOut 3s; 
animation: fadeInOut 3s;

}

.black_overlay_log{

display: none; 
position: fixed; 

top: 0%; 
left: 0%; 

width: 100%; 
height: 100%; 

background-color: lightgrey; 
z-index:1001; 

-moz-opacity: 0.6; 

opacity:.60; 
filter: alpha(opacity=80); 
-webkit-animation: fadeInOut 16s;
-moz-animation: fadeInOut 16s; 
animation: fadeInOut 16s;

}

.black_overlay_log_small{

display: none; 
position: fixed; 
top: 0%; 
left: 0%; 
width: 100%; 
height: 100%; 

background-color: lightgrey; 
z-index:1001; 

-moz-opacity: 0.6; 

opacity:.60; 
filter: alpha(opacity=80); 
-webkit-animation: fadeInOut 16s;
-moz-animation: fadeInOut 16s; 
animation: fadeInOut 16s;

}

.upbox{

height: auto;
width: 100%;
background-color: white;
float:left; 
border-radius:5px; 
width:100%;

}

.upbox_log{

height: 300px;
width: 100%;

background-color: white;
float:left; 
border-radius:5px;

}

.preview{


-webkit-transition: all 0.4s ease-in-out; 
-moz-transition: all 0.4s ease-in-out; 
-o-transition: all 0.4s ease-in-out; 
-ms-transition: all 0.4s ease-in-out; 
transition: all 0.4s ease-in-out; 

float:left; 
width:750px; 
height:500px; 

background-color: lightgrey; 
border-radius: 5px; 
-moz-border-radius: 5px; 
-webkit-border-radius: 5px; 

box-shadow: 0 0em 0.125em 0 grey; 
-moz-box-shadow: 0 0em 0.125em 0 grey; 
-webkit-box-shadow: 0 0em 0.125em 0 grey; 

margin-left: 3%; 
margin-top: -20px; 
padding: 3px;

}

input[type=submit]{

color: white; 
font-family: Arial; 
font-size:16px; 
font-weight: bold;

	width: 120px;
	height: 40px;
	padding: 8px 5px 5px;
	margin: 30px 10px;

border: none;

-moz-border-radius: 3px;
-webkit-border-radius: 3px;
border-radius: 3px; 

background: green;
background-image: linear-gradient(to top right, green, limegreen);

/* ... other rules ... */ 

cursor:pointer;

}


#login-but{

float:left; 
padding:4px; 
padding-top:6px; 
padding-bottom:10px; 
padding-left: 8px;

width: 45px; 
height: 10px; 

margin-top: 3px; 
margin-left:3px; 

opacity:0.6; 

font-size: 0.8em; 
font-family: arial;

border-radius:3px;
-moz-border-radius:3px;
-webkit-border-radius:3px;

border: 1px solid green; 
background: transparent; 
color: green; 

-webkit-transition: all 0.2s ease-in-out; 
-moz-transition: all 0.2s ease-in-out; 
-o-transition: all 0.2s ease-in-out; 
-ms-transition: all 0.2s ease-in-out; 
transition: all 0.2s ease-in-out;

}

#login-but:hover{
	
	opacity: 0.8;
}

@-moz-document url-prefix(){

	#login-but{
		float:left; 

		padding:4px; 
		padding-top:7px; 
		padding-bottom:8px; 
		padding-left: 8px;

		width: 45px; 
		height: 13px; 
		margin-top: 3px; 
		margin-left:3px; 
		opacity:0.6; 

		font-size: 0.8em; 
		font-family: arial;
		font-weight: normal;

		border-radius:3px;
		-moz-border-radius:3px;
		-webkit-border-radius:3px;

		border: 1px solid green; 
		background: transparent; 
		color: green; 

		-webkit-transition: all 0.2s ease-in-out; 
		-moz-transition: all 0.2s ease-in-out; 
		-o-transition: all 0.2s ease-in-out; 
		-ms-transition: all 0.2s ease-in-out; 
		transition: all 0.2s ease-in-out;

	}

	#login-but:hover{

		opacity: 0.8;

	}
}

input[type=submit]:hover{

	background-image: linear-gradient(to top right, #006600, #00b200);  

	-webkit-transition: all 0.2s ease-in-out; 
	-moz-transition: all 0.2s ease-in-out; 
	-o-transition: all 0.2s ease-in-out; 
	-ms-transition: all 0.2s ease-in-out; 
	transition: all 0.2s ease-in-out;

}


input[type=file]{
font-family: Calibri; 
font-size:16px; 
font-weight: bold; 
height: auto; 
width: 201px; 
margin-top: 10px; 
margin-left: 4px; 
border-radius: 3px; 
cursor:pointer; 
z-index: 9999;
}


input[type=file]:hover{
background-color: orangered; 
color: white; 
font-weight: bold; 

-webkit-transition: all 0.4s ease-in-out; 
-moz-transition: all 0.4s ease-in-out; 
-o-transition: all 0.4s ease-in-out; 
-ms-transition: all 0.4s ease-in-out; 
transition: all 0.4s ease-in-out;

}

#file::file-upload-button{

color: royalblue; 
border: 1px solid royalblue; 

border-radius: 3px; 
-moz-border-radius:3px;
-webkit-border-radius:3px;

background: white; 
height: 40px; 
width: 201px; 
cursor: pointer;

}

#file::file-upload-button:hover{

color: royalblue; 
border: 1px solid royalblue; 

border-radius: 3px; 
-moz-border-radius:3px;
-webkit-border-radius:3px;

background: white; 
height: 40px; 
width: 201px; 
cursor: pointer;

}


#file::-webkit-file-upload-button{

color: royalblue; 
border: 1px solid royalblue; 

border-radius: 3px; 
-moz-border-radius:3px;
-webkit-border-radius:3px;

background: white; 
height: 40px; 
width: 201px; 

cursor: pointer;

}

#file::-webkit-file-upload-button:hover{

color: royalblue; 
border: 1px solid royalblue; 

border-radius: 3px; 
-moz-border-radius:3px;
-webkit-border-radius:3px;
 
background: white; 
height: 40px; 
width: 201px; 

cursor: pointer;

}

#file::-moz-file-upload-button{

color: royalblue; 
border: 1px solid royalblue; 

border-radius: 3px; 
-moz-border-radius:3px;
-webkit-border-radius:3px;

background: white; 
height: 40px; 
width: 201px; 

cursor: pointer;

}

#file::-moz-file-upload-button:hover{

color: royalblue; 
border: 1px solid royalblue; 

border-radius: 3px; 
-moz-border-radius:3px;
-webkit-border-radius:3px;

background: white; 
height: 40px; 
width: 201px; 
cursor: pointer;

}

#file::-ms-browse{

color: royalblue; 
border: 1px solid royalblue; 

border-radius: 3px; 
-moz-border-radius:3px;
-webkit-border-radius:3px;

background: white; 
height: 40px; 
width: 201px; 
cursor: pointer;
}

#file::-ms-browse:hover{

color: royalblue; 
border: 1px solid royalblue; 

border-radius: 3px; 
-moz-border-radius:3px;
-webkit-border-radius:3px;

background: white; 
height: 40px; 
width: 201px; 
cursor: pointer;

}

@-moz-document url-prefix(){

	#file::file-upload-button{
		color: royalblue; 
		border: 1px solid royalblue; 

		border-radius: 3px; 
		-moz-border-radius:3px;
		-webkit-border-radius:3px; 

		background: white; 
		height: 40px; 
		width: 201px; 
		cursor: pointer;
	}

	#file::file-upload-button:hover{
		color: royalblue; 
		border: 1px solid royalblue; 

		border-radius: 3px; 
		-moz-border-radius:3px;
		-webkit-border-radius:3px;

		background: white; 
		height: 40px; 
		width: 201px; 
		cursor: pointer;

	}
}

@-moz-document url-prefix(){

}

input[type=text]{

color: black; 
border: 1px solid lightgray; 

border-radius: 3px; 
-moz-border-radius:3px;
-webkit-border-radius:3px;


font-family: rounded; 
font-size:16px; 

height: 25px; 
width: 300px;

padding-left: 10px; 
background-color: whitesmoke; 

-moz-box-shadow: inset 0px 0px 0.5px 1px #ffffff; 
-webkit-box-shadow: inset 0px 0px 0.5px 1px #ffffff; 
box-shadow: inset 0px 0px 0.5px 1px #ffffff; 

/* ... other rules ... */ 

cursor:pointer;

}

input[type=text]:hover{
 
border: 2px solid lightgray;

}


input[type=email]{

color: black; 
border: 1px solid lightgray; 


border-radius: 3px; 
-moz-border-radius:3px;
-webkit-border-radius:3px;

font-family: rounded; 
font-size:16px; 
height: 25px; 
width: 300px;

padding-left: 10px; 
background-color: whitesmoke; 
-moz-box-shadow: inset 0px 0px 0.5px 1px #ffffff; 
-webkit-box-shadow: inset 0px 0px 0.5px 1px #ffffff; 
box-shadow: inset 0px 0px 0.5px 1px #ffffff; 

/* ... other rules ... */ 

cursor:pointer;

}

input[type=email]:hover{

color: black; 
border: 2px solid lightgray; 



}

input[type=password]{

color: black; 
border: 1px solid lightgray; 


border-radius: 3px; 
-moz-border-radius:3px;
-webkit-border-radius:3px;
 
font-family: rounded; 
font-size:16px; 

height: 25px; 
width: 300px;

padding-left: 10px; 
background-color: whitesmoke; 

-moz-box-shadow: inset 0px 0px 0.5px 1px #ffffff; 
-webkit-box-shadow: inset 0px 0px 0.5px 1px #ffffff; 
box-shadow: inset 0px 0px 0.5px 1px #ffffff; 

/* ... other rules ... */ 

cursor:pointer;

}

input[type=password]:hover{

color: black; 
border: 2px solid lightgray; 

}


textarea{

background: whitesmoke; 

width: 300px; 
height: 80px; 

font: normal 16px abel; 
line-height: 25px; 

padding: 2px 10px; 

border: 1px solid whitesmoke; 
border-radius: 5px; 
-moz-border-radius: 5px; 
-webkit-border-radius: 5px;

}

#smallbutt{
	background: orangered;
	height: 20px; 
	width: 90px; 
 
	border-radius:10px; 
	border:none; 
	color:white; 
	font-size: 14px; 
	font-weight:bold;
}

.infobar{

width: 1320px;
height: 280px;
min-width: 100%;
background-color: whitesmoke;

padding-top: 20px;
margin-top: -3px;
box-shadow: 0 0.025em 0.2em 0.05em rgba(0, 0, 0, 0.25);

}

.infobar-name{

height:10%; 
width:100%; 
padding-top:10px; 
margin-left: 0px;

font-family:Abel;

}


.userbanner{

height: 50px;
width: 1200px;
background: white;
color: black;
border: 1px solid lightgrey;

}

.user-menu{

height: 70%;
width: 100px;

background-color: transparent;
color: lightgrey;
font-family: Calibri;
float: right;
padding-top: 15px;
overflow: hidden;
}


.user-menu:hover{

background: lightgrey;
color: white;

}


.user-menu-select{

height: 68%;
width: 100px;

color: grey;
background: white;

border-top: 2px solid red;
font-family: calibri;

float: right;

padding-top: 13px;
padding-bottom: 1px;
overflow: hidden;

}


.userbar{

height: 500px;
width: 902px;
background: transparent;
color: black;

}


.user-basehead{

height: auto;

}

.tag{

background-color: black;
color: whitesmoke;
font-size: 14px;
font-family: calibri;

height: 20px;
width: 50px;

opacity: 0.6;
border-radius: 5px; 
-moz-border-radius: 5px; 
-webkit-border-radius: 5px;

}


.tag a{

color:whitesmoke;

}

.earnings{

height: 500px;
width: 1200px;
background: whitesmoke;

margin-bottom: 60px;
padding-top: 20px;
padding-bottom: 10px;

border-bottom-left-radius: 15px;
border-bottom-right-radius: 15px;
-moz-border-bottom-left-radius: 15px;
-moz-border-bottom-right-radius: 15px;
-webkit-border-bottom-left-radius: 15px;
-webkit-border-bottom-right-radius: 15px;

box-shadow: inset 0 0.025em 0.2em 0 rgba(0, 0, 0, 0.25);
-moz-box-shadow: inset 0 0.025em 0.2em 0 rgba(0, 0, 0, 0.25); 
-webkit-box-shadow: inset 0 0.025em 0.2em 0 rgba(0, 0, 0, 0.25);

}


.earnbox{

height:auto;
width: 400px;
background: white;
padding: 20px 10px;
margin-left: 10px;
font-family: abel;
font-size: 16px;
color: grey;

border: 1px solid grey;
border-radius: 5px; 
-moz-border-radius: 5px; 
-webkit-border-radius: 5px;

}


.balance{

height:30px;
width: 400px;

background: white;

padding: 10px;
padding-bottom: 20px;
padding-top: 20px;

margin-left: 10px;
font-family: abel;
font-size: 16px;

color: grey;
border: 1px solid grey;

border-radius: 5px; 
-moz-border-radius: 5px; 
-webkit-border-radius: 5px;

}


.updatepay{

height:30px;
width: 400px;
background: white;
padding: 10px;
padding-bottom: 20px;
padding-top: 20px;
margin-left: 10px;

font-family: abel;
font-size: 16px;

color: grey;
display: none;

border: 1px solid green;
border-radius: 5px; 
-moz-border-radius: 5px; 
-webkit-border-radius: 5px;

}

.update{

height:20px;
width: 60px;
background-color: white;
border: 1px solid grey;

font-family: calibri;
font-size: 14px;

color: grey;
float: right;

padding-top: 3px;
cursor: pointer;
opacity: 0.8; 

border-radius: 5px; 
-moz-border-radius: 5px; 
-webkit-border-radius: 5px; 

-webkit-transition: all 0.2s ease-in-out; 
-moz-transition: all 0.2s ease-in-out; 
-o-transition: all 0.2s ease-in-out;
-ms-transition: all 0.2s ease-in-out; 
transition: all 0.2s ease-in-out;

}

.update:hover{

opacity: 1;

}

#uppaybx{
	float:left; 
	margin-top:2px; 
	padding-left:6px; 
	overflow:hidden; 
    text-overflow: ellipsis; 
	border-right: 1px solid lightgrey; 

	width:80%;
}


.freeup{

height: 20px;
width: 100px;
background: green;
font-family: calibri;

font-size: 14px;
color: white;

padding:5px;
padding-top: 7px;
margin-top: 5px;

border-radius: 5px; 
-moz-border-radius: 5px; 
-webkit-border-radius: 5px;

}


.block{

height: 100px;
width: 900px;
min-width: 100%;

background: transparent;

}


#res{

height: auto;
width: 1200px;

background: whitesmoke;
margin-bottom: 80px;
padding-bottom: 40px;

border-bottom-left-radius: 15px;
border-bottom-right-radius: 15px;
-moz-border-bottom-left-radius: 15px;
-moz-border-bottom-right-radius: 15px;
-webkit-border-bottom-left-radius: 15px;
-webkit-border-bottom-right-radius: 15px;

box-shadow: inset 0 0.025em 0.2em 0 rgba(0, 0, 0, 0.25);
-moz-box-shadow: inset 0 0.025em 0.2em 0 rgba(0, 0, 0, 0.25); 
-webkit-box-shadow: inset 0 0.025em 0.2em 0 rgba(0, 0, 0, 0.25);

-webkit-animation: fadeInOut 3s;
-moz-animation: fadeInOut 3s; 
animation: fadeInOut 3s;

}

#res #port-one{

height: 300px;
width: 450px;
float: left;

margin-right: 1px;
margin-top: 1px;
margin-bottom: 1px;

}


#res #port-two{

height: 300px;
width: 450px;

float:left;
margin-left: 1px;
margin-top: 1px;
margin-bottom: 1px;

}


#res #port-three{

height: 300px;
width: 450px;

float: left;
margin-right: 1px;
margin-top: 1px;
margin-bottom: 1px;

}

#res #port-four{

height: 300px;
width: 450px;

float: left;
margin-left: 1px;
margin-top: 1px;
margin-bottom: 1px;

}

.overlay{

height: 100%;
width: 100%;

display: none;
box-shadow: inset 0em 0em 4em 2em rgba(0,0,0,0.35);
-moz-box-shadow: inset 0em 0em 4em 2em rgba(0,0,0,0.35);
-webkit-box-shadow: inset 0em 0em 4em 2em rgba(0,0,0,0.35);

}


.overlay-text{

height: 18px;
width: auto;
max-width: 200px;
background-color: rgba(0,0,0,0.55);

color: white;
font-family: Arial;
font-weight: bold;
display: none;

padding: 4px;
padding-right: 4px;

position: relative;
left: 20px;
top: 10px;

border-radius: 5px;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;

z-index: 1002;

}

.overlay-text a{
	text-overflow: ellipsis;
}


@-moz-document url-prefix(){

	.overlay-text{
		height: 20px;
		width: auto;

		background-color: rgba(0,0,0,0.55);
		color: white;
		font-family: Abel;
		font-weight: bold;

		display: none;

		padding: 3px;
		padding-right: 4px;
		padding-top: 1px;

		position: relative;
		left: 20px;
		top: 10px;

		border-radius: 5px;
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;

		z-index: 1002;
	}

}


.overlay-like{

height: 18px;
width: 100%;

display: none;
background-color: transparent;

float: right;
position: relative;
top: -13px;
right: 10px;

z-index: 1000;

}




.redbuy{

height: 30px; 
width: 30px; 
float: right;

background: transparent; 
background-image: url(images/buybar2.png);
background-size: contain;

display:block; 
content: none;
position:relative; 

-webkit-transition: 0.5s ease;
-moz-transition: 0.5s ease;
-ms-transition: 0.5s ease;
-o-transition: 0.5s ease;
transition: 0.5s ease;

cursor: pointer;

margin-top: -14px;
margin-left: 70px;

}



.redbuy:hover{

opacity: 0.6;

background-size: contain;
background-repeat: no-repeat;

z-index: 10009;

}



.redbuy2{

height: 30px; 
width: 30px; 
float: right;
background: transparent; 
background-image: url(images/buybar2.png);

background-size: contain;
display:block; 
content: none;
position:relative; 

-webkit-transition: 0.5s ease;
-moz-transition: 0.5s ease;
-ms-transition: 0.5s ease;
-o-transition: 0.5s ease;
transition: 0.5s ease;

cursor: pointer;
margin-top: 0px;
margin-left: 0px;

}


.redbuy2:hover{

background-size: contain;
background-repeat: no-repeat;

opacity: 0.6;

}


#zoom{

height:30px; 
width:30px; 
margin-left:4.40em; 
border-top: 2px solid transparent;

background:url(images/zoombar2.png); 
background-size:contain; 
background-repeat: no-repeat; 
content: none; 
outline:none !important;

-webkit-transition: 0.5s ease;
-moz-transition: 0.5s ease;
-ms-transition: 0.5s ease;
-o-transition: 0.5s ease;
transition: 0.5s ease;

cursor: pointer;

}

#zoom:hover{
opacity: 0.6;

}

#zoom2{

height:30px; 
width:30px; 
float: right;
margin-left: 4.45em;
border-top: 6px solid transparent;

background:url(images/zoombar2.png); 
background-size:contain; 
background-repeat: no-repeat; 
content: none; 
outline:none !important;

-webkit-transition: 0.5s ease;
-moz-transition: 0.5s ease;
-ms-transition: 0.5s ease;
-o-transition: 0.5s ease;
transition: 0.5s ease;

cursor: pointer;

}

#zoom2:hover{
opacity: 0.6;

}


.info{

height: auto;
width: 120px;

margin-left: 30px;
background-color: whitesmoke;

font-family: abel;
display: none;
float: left;

-moz-border-bottom-right-radius: 10px;
-webkit-border-bottom-right-radius: 10px;
border-bottom-right-radius: 10px;

-moz-border-bottom-left-radius: 10px;
-webkit-border-bottom-left-radius: 10px;
border-bottom-left-radius: 10px;

-moz-border-top-right-radius: 10px;
-webkit-top-bottom-right-radius: 10px;
border-top-right-radius: 10px;

-webkit-animation: fadeInOut 0s;
-moz-animation: fadeInOut 0s; 
animation: fadeInOut 0s; 

z-index: 10001;

}


.redbuy:hover .info{

display: block;

}


.info2{

height: auto;
width: 110px;
margin-left: 30px;
background-color: whitesmoke;
font-family: abel;

display: none;
float: left;

-moz-border-bottom-right-radius: 10px;
-webkit-border-bottom-right-radius: 10px;
border-bottom-right-radius: 10px;

-moz-border-bottom-left-radius: 10px;
-webkit-border-bottom-left-radius: 10px;
border-bottom-left-radius: 10px;

-moz-border-top-right-radius: 10px;
-webkit-top-bottom-right-radius: 10px;
border-top-right-radius: 10px;

-webkit-animation: fadeInOut 0s;
-moz-animation: fadeInOut 0s; 
animation: fadeInOut 0s; 

z-index: 10001;

}



.redbuy2:hover .info2{

display: block;

}


.download{

background: white; 
color: orangered; 

padding:5px; 
margin: 5px;
opacity: 0.8;

margin-left: 15px;

-moz-border-radius: 5px;
-webkit-border-radius: 5px;
border-radius: 5px;


box-shadow: 0 0em 0.125em 0 grey; 
-moz-box-shadow: 0 0em 0.125em 0 grey; 
-webkit-box-shadow: 0 0em 0.125em 0 grey;

}


#feedone:hover .overlay{

display: block;
box-shadow: inset 0em 0em 4em 2em rgba(0,0,0,0.35);
-moz-box-shadow: inset 0em 0em 4em 2em rgba(0,0,0,0.35);
-webkit-box-shadow: inset 0em 0em 4em 2em rgba(0,0,0,0.35);

}



#feedone:hover .overlay-text{

display: block;

}


#feedone:hover .overlay-like{

display: block;

}


#proview{

-webkit-animation: fadeInOut 13s;
-moz-animation: fadeInOut 13s; 
animation: fadeInOut 13s;

}


.proview-over{

display: none;

}


#proview:hover .proview-over{

display: block;

box-shadow: inset 0em 0em 1.5em 0.5em rgba(0,0,0,0.25);
-moz-box-shadow: inset 0em 0em 1.5em 0.5em rgba(0,0,0,0.25);
-webkit-box-shadow: inset 0em 0em 1.5em 0.5em rgba(0,0,0,0.25);

}


#proview:hover .overlay-text{

	display: block;

}


#proview:hover .overlay-like{

	display: block;

}


#down-but{

	height:35px; 
	width:110px; 

	background:cornflowerblue; 
	color:white; 

	border:none; 
	outline:none; 

	font-family:calibri; 
	font-size:14px; 

	border-radius:5px; 
	-moz-border-radius:5px; 
	-webkit-border-radius:5px; 

	margin:auto; 
	margin-top:15px;
	padding:5px;

	cursor:pointer; 

}

#down-but:hover{
	opacity: 0.7;
	
-webkit-transition: all 0.2s ease-in-out; 
-moz-transition: all 0.2s ease-in-out; 
-o-transition: all 0.2s ease-in-out; 
-ms-transition: all 0.2s ease-in-out; 
transition: all 0.2s ease-in-out;

}

/*#############################################*/

.like{

width: 100px;
height: 30px;

margin-top: 0px;
margin-bottom: 0px;
border: 0px solid black;

}

.frame{

border: 0px solid black;
overflow: hidden;

}



input:focus{

outline: none;

}


#likeunlike{

color: crimson; 
font-family: Calibri; 
height: 30px; 
width: 30px; 

background-color: transparent; 
background-image: url(images/heart10.png); 
background-repeat: no-repeat; 
background-size: contain; 

border: 1px solid transparent; 
content: none; 
outline:none !important;

-moz-border-radius: 15px;
-webkit-border-radius: 15px;
border-radius: 15px;

margin-top: -1px;
margin-right: 1px;


}

#likeunlike:hover{

color: white; 
font-family: Calibri; 
height: 30px; 
width: 30px; 
background-color: transparent; 

border: 1px solid transparent; 
outline: transparent;

-moz-border-radius: 15px;
-webkit-border-radius: 15px;
border-radius: 15px;

-webkit-transition: all 0.2s ease-in-out; 
-moz-transition: all 0.2s ease-in-out; 
-o-transition: all 0.2s ease-in-out; 
-ms-transition: all 0.2s ease-in-out; 
transition: all 0.2s ease-in-out;

}


#likeunlike2{

color: white; 
font-family: Calibri; 

height: 30px; 
width: 30px; 

background-color: crimson; 
border: 1px solid transparent; 
background-color: transparent; 
background-image: url(images/heartfull2.png); 
background-repeat: no-repeat; 
background-size: contain; 

content: none; 
outline:none !important; 

-moz-border-radius: 15px;
-webkit-border-radius: 15px;
border-radius: 15px;

margin-top: -1px;
margin-right: 1px;


}

#likeunlike2:hover{

color: white; 
font-family: Calibri; 
height: 30px; 
width: 30px; 

background-color: transparent; 
border: 1px solid transparent; 
background-image: url(images/heart8.png); 
background-repeat: no-repeat; 

outline-width: 0; 
outline:none !important;

-moz-border-radius: 15px;
-webkit-border-radius: 15px;
border-radius: 15px;

}

input{

outline: none !important; 
-webkit-box-shadow: none !important; 
-moz-box-shadow: none !important; 


box-shadow: none !important;

}


.likemessage{

height: 28px;
width: 60px;
background-color: black;

color: white;
opacity: 0.8;

-moz-border-radius: 5px;
-webkit-border-radius: 5px;
border-radius: 5px;

padding: 2px;
padding-left: 5px;
padding-right: 5px;

z-index: 1001;

}

#container{

}

#container img{

width: 100%;

}



.nofeed{

height: 50px;
width: 500px;
background-color: grey;
color: white;

padding: 10px;
margin-left: 3px;
margin-top: 20px;

font-family: abel;

-moz-border-radius: 10px;
-webkit-border-radius: 10px;
border-radius: 10px;

}


#upthis-message{

height: 45px;
width:300px;
background: whitesmoke;

color: orangered;
opacity: 0.8;

display: none; 

padding: 3px;
padding-top: 3px;
padding-bottom: 15px;

margin-bottom: 20px;
margin-left: 10px;

font-family: abel;
font-size: 14px;

-moz-border-radius: 10px;
-webkit-border-radius: 10px;
border-radius: 10px;

}


#cross{

margin-left:95%; 
height:8px; 
padding: 3px; 
background:url(images/shut.png); 
background-size:contain;

}


#upthis{

display: block;

}


#upthis-dummy{

display: block;
opacity: 0.4;

color: white; 
font-family: calibri; 
font-size:16px; 
height: 40px; 
width: 100px; 

margin-left: 12px; 

-moz-border-radius: 3px;
-webkit-border-radius: 3px;
border-radius: 3px; 

background-color: green; 
border: 1px solid darkgreen;

}



.likebox{

height:30px; 
width:50px; 

color:crimson;
font-family: kozuka; 
font-weight:bold;

margin-top:0px; 
float:right; 

-moz-border-radius: 3px;
-webkit-border-radius: 3px;
border-radius: 3px;

}

/* SCRAP CSS STYLES */

#log-cross{

margin-left:97%; 
height:20px; 
width: 20px;
padding-bottom:0px;

}

#log-text{

width:55%; 
margin-left: 21%; 
font-family:Arial; 
font-size: 18px; 
font-weight: bold; 
margin-top: 2%;

}

#log-form{

width:55%; 
border:2px solid silver; 
padding: 25px; 
margin-left: 20%; 
margin-top: 5%; 

border-radius: 5px; 
-moz-border-radius: 5px; 
-webkit-border-radius: 5px;

}


#login-button{

height: 28px;
width: 50px;
display: none;
float: left;

background: grey;
border: 1px solid black;

}

#userbanner-margin{

width: 1320px;
min-width: 100%;

}

.head-small{

display: none;
float: right;

}

#hover-menu{

height: 0px;
width: 0px;
display: none;

}

#upload-form{

height: 500px; 
width:35%; 
margin-left:65%;

}

#upload-info{

display: block;

}

#wrap{

width: 100%;

}

#photo{

max-height:500px; 
max-width:750px;

}

.dpup{

}

#dp-box{

margin-top:10%; 
padding:40px 0px; 
border: 1px solid silver; 
width:240px; 
height: 300px; 
border-radius:5px;

}

#dp-label{
 
padding-bottom:5px; 
color:grey;

margin: auto;

}

#dp-div{

border: 1px dashed gray; 
height:120px; 
width:100px; 

background-color: lightgray;

}

#soon{

width: 85px;
height: 25px;
background-color: orangered;

color: whitesmoke;
opacity: 0.6;
display: none;
position: fixed;
top:40px;
right:30px;

padding-top: 5px;
padding-left: 7px;

font-family: abel;
border-radius: 5px;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;

margin-left: 1230px;

}

#paydisp{
	width:600px; 
	height:auto; 

	border:2px solid whitesmoke; 
	padding:20px;


	display: block;
	margin:auto;
	margin-top: 20px;
}

.paybox{

height: auto;
width: 600px;

background-repeat:no-repeat; 
background-size:contain; 

box-shadow: 0 0.25em 1em 0 rgba(0, 0, 0, 0.25);
-moz-box-shadow: 0 0.25em 1em 0 rgba(0, 0, 0, 0.25);
-webkit-box-shadow: 0 0.25em 1em 0 rgba(0, 0, 0, 0.25);

}

#payslide{

max-width:645px; 
display: block;
margin:auto;
margin-top: 20px;

box-shadow: 0 0.025em 0.25em 0 rgba(0, 0, 0, 0.25);
-moz-box-shadow: 0 0.025em 0.25em 0 rgba(0, 0, 0, 0.25);
-webkit-box-shadow: 0 0.025em 0.25em 0 rgba(0, 0, 0, 0.25);

}



.summ{

height: auto;
width:300px;
background: lightgrey;
margin-bottom: 7px;
margin-left: -10px;
padding:5px;

border-radius: 5px;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;

}

.foot{

height: 40px;
width: 1320px;
min-width: 100%; 
color: grey; 
background: lightgrey; 

opacity: 0.6; 
font-family: Arial; 
font-size: 0.7em;

}

.support{

width:600px;
height: 400px;
background: white;
border: 3px solid #F0F0F0;
font-family: abel;
font-size: 16px;

color:grey;
margin-top: 10px;
padding-top: 40px;

}

#cont p{
	margin-bottom: 15px;
}

.pop{

height: 380px;
width:340px; 

float: left;
position: absolute;

margin-top: 30px;

}

.popx{

height: 18px;
width: 200px;

background: orangered;
color: white;

opacity: 0.6;

text-align: center;
font-family: abel;
font-size: 14px;

padding: 3px;
margin-top: -20px;
margin-bottom: 5px;


border-bottom-left-radius: 10px;
border-bottom-right-radius: 10px;
border-top-right-radius: 10px;

}


.popsuccess{

height: 20px;
width: 240px;

background: limegreen;
color: darkgreen;

opacity: 0.8;
text-align: center;
font-family: abel;
font-size: 14px;

padding: 5px;
margin-top:15px;
margin-bottom: 0px;
border-radius: 10px;

}


.faq{

height: auto;
max-width: 80%;

background: white;
color: grey;

border: 3px solid #F0F0F0;
margin: 20px 10px;
padding: 50px;

}


.ans{

background: white;
font-family: Arial;
padding: 20px;
border: 1px solid lightgrey;

border-radius: 15px;
-moz-border-radius: 15px;
-webkit-border-radius: 15px;

}

.ans2{
min-width:220px; 
background: white;
font-family: Arial;
padding: 10px 10px 30px 10px;
border: 3px solid whitesmoke;

border-radius: 15px;
-moz-border-radius: 15px;
-webkit-border-radius: 15px;

margin:auto;

}

#que1, #que2{
	width: 300px;
}

#uploadbox{
	width:900px; 
	height:auto; 

	padding:60px; 
	padding-bottom:90px; 

	border:1px solid lightgrey; 
	margin-left:0%; 

	border-radius:15px; 
	-moz-border-radius:15px; 
	-webkit-border-radius:15px;
}

#upimage{
	border:1px solid grey; 
	height:130px; 
	margin:auto;
	margin-bottom:10px; 
	padding-top:10px; 
	padding-left:20px; 
	background:#F0F0F0; 
	border-radius:5px;
}

#upim{
	height:120px; 
	width:400px; 
	float:left;

	border: 1px solid transparent;
	border-right: 1px solid darkgrey;
}

#uphash{
	width:300px; 
	height:90%; 
	float:right; 
	padding-right:20px; 
	padding-top:5px;

	border: 1px solid transparent;
}

#hashinp{
	width: 300px;
	height: 95px;

	background:white; 
	border:1px solid lightgrey;

	resize: none;
	outline: none;
}

#memberbx{

	background:transparent; 
	max-width:350px; 
	margin: 0px 0px 0px 0px; 
	padding: 30px 10px 30px 10px;

	border: 1px solid transparent;
	border-radius: 8px;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;

}

#bitimg{
	min-height:100px; 
	max-height:200px; 
	width:auto; 
	max-width:500px; 

	visibility:hidden; 
	position:relative; 
	z-index:0;
}

#zig{

	height: auto; 
	width:600px; 

	visibility:hidden;
}

#thankbox{
	width:650px; 
	height:auto; 
	font-family:Arial; 
	padding-bottom:30px; 
	color:grey; 
	padding:40px;  
	border:3px solid whitesmoke;
}

#btn-zip{
	width:100px; 
	height:40px; 
	background: white; 
	border: 1px solid green; 
	color:green; 

	border-radius: 3px; 
	-moz-border-radius: 3px; 
	-webkit-border-radius: 3px; 

	cursor: pointer;

	transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.1s ease-in-out; 
	-moz-transition: all 0.1s ease-in-out; 
	-o-transition: all 0.1s ease-in-out; 
	-ms-transition: all 0.1s ease-in-out;
}

#btn-zip:hover{
	opacity: 0.8;

	transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.1s ease-in-out; 
	-moz-transition: all 0.1s ease-in-out; 
	-o-transition: all 0.1s ease-in-out; 
	-ms-transition: all 0.1s ease-in-out;
}

#payalert-success{

	background: lightgreen; 
	color: green; 

	padding: 5px; 
	border-radius: 3px; 
	-moz-border-radius: 3px; 
	-webkit-border-radius: 3px; 

	max-width: 300px; 
	margin:auto; 
	margin-top: 15px;
}

#payalert-danger{

	background: #ffb499; 
	color: orangered; 

	padding: 5px; 
	border-radius: 3px; 
	-moz-border-radius: 3px; 
	-webkit-border-radius: 3px; 

	max-width: 300px; 
	margin:auto; 
	margin-top: 15px;
}


#overlay-loadxo{
	display: none;
}


/*######################################################################################*/


#sole{

width:200px;
height:150px;

margin-top: 40px;
display: inline-block;
vertical-align: middle;

}

#soleth{

width:150px;
height:150px;
line-height: 120%;
margin-top: 40px;

display: inline-block;
vertical-align: middle;

}

#soleth a{

color: lightgrey;

transition: all 0.3s ease-in-out;
-webkit-transition: all 0.3s ease-in-out; 
-moz-transition: all 0.3s ease-in-out; 
-o-transition: all 0.3s ease-in-out; 
-ms-transition: all 0.3s ease-in-out;

}


#soleth a:hover{

color: grey;

}

#soleth2{

width:150px;
height:150px;
line-height: 120%;
margin-top: 40px;
display: inline-block;
vertical-align: middle;

}

#insta{

transition: all 0.1s ease-in-out;
-webkit-transition: all 0.1s ease-in-out; 
-moz-transition: all 0.1s ease-in-out; 
-o-transition: all 0.1s ease-in-out; 
-ms-transition: all 0.1s ease-in-out;

}

#insta:hover{

	color: royalblue;

}

#twitt{

transition: all 0.1s ease-in-out;
-webkit-transition: all 0.1s ease-in-out; 
-moz-transition: all 0.1s ease-in-out; 
-o-transition: all 0.1s ease-in-out; 
-ms-transition: all 0.1s ease-in-out;

}


#twitt:hover{

color: deepskyblue;

}


#fullview{

min-width: 100%;
height: 100%;
position: fixed;

top: 0;
left:0;

background-color: white;
opacity: 1;

display: none;
z-index: 12000;

-webkit-animation: fadeInOut 0.8s;
-moz-animation: fadeInOut 0.8s; 
animation: fadeInOut 0.8s;

}



#checklink2{

opacity: 0.9;
-moz-box-shadow: inset 0 0 15px #0033FF; 
-webkit-box-shadow: inset 0 0 15px #0033FF; 
box-shadow: inset 0 0 15px #0033FF; 

-moz-border-radius: 3px; 
-webkit-border-radius:3px; 
-khtml-border-radius:3px;
}


#checklink2:hover{
opacity: 1;
transition: all 0.3s ease-in-out;
-webkit-transition: all 0.3s ease-in-out; 
-moz-transition: all 0.3s ease-in-out; 
-o-transition: all 0.3s ease-in-out; 
-ms-transition: all 0.3s ease-in-out;
}

#fullclose{
	height:30px; 
	width:30px; 
	float:right; 
	clear:left; 
	background:url(images/shut.png); 
	background-size:contain; 
	cursor:pointer;

	-webkit-animation: fadeInOut 0.8s;
    -moz-animation: fadeInOut 0.8s; 
    animation: fadeInOut 0.8s;


}



#fullbox{

width: calc(100% - 300px); 
height:90%; 

float:left; 

-moz-box-shadow: inset 0 0 15px lightgrey; 
-webkit-box-shadow: inset 0 0 15px lightgrey; 
box-shadow: inset 0 0 15px lightgrey; 

background-color: white; 

background-size:contain; 
background-repeat: no-repeat; 
background-position: center; 

padding: 5px; 
margin-top:26px; 
margin-left:10px; 
margin-right:250px; 

position:fixed; 
left:0;
}

#fulldetails{

	width:250px; 
	height:auto; 

	float:right; 
	margin-top:26px; 
	margin-right:10px; 
	padding: 5px; 

	position:fixed; 
	right:0; 

}

#blockone{
	width:250px; 
	height:225px;  
	border: 1px solid ivory;
}

#blocktwo{
	width:220px; 
	height:90px; 

	color:darkgrey; 
	background: whitesmoke;

	font-family:rounded; 
	font-size:14px; 

	padding-top:7%; 	 
	margin-bottom:20px; 

	border-radius:3px; 
	-moz-border-radius:3px; 
	-webkit-border-radius:3px;
}


#namebar{
	margin-top:60%; 
}



.subbox1{

background:white; 
color: grey; 

border-radius:3px; 
-moz-border-radius:3px; 
-webkit-border-radius:3px; 

font-family: arial;
font-size: 14px;
font-weight: normal;

height:420px; 
width: 240px; 

display:inline-block; 

-moz-box-shadow: 0 0 3px 1px grey; 
-webkit-box-shadow: 0 0 3px 1px grey; 
box-shadow: 0 0 3px 1px grey; 

margin-right: 15px;

}

.subbox1 li{

margin: 10px 0;
padding-left: 40px;

}

.subdetail{

	padding-bottom: 100px;

}

.gumroad-butto{

background: white;
padding:20px; 
margin-top: 100px;

}

.gumroad-butto:hover{

background: white;
color: grey;
opacity: 0.6;

transition: all 0.3s ease-in-out;
-webkit-transition: all 0.3s ease-in-out; 
-moz-transition: all 0.3s ease-in-out; 
-o-transition: all 0.3s ease-in-out; 
-ms-transition: all 0.3s ease-in-out;

}

#messagex{

width:250px; 
height:30px; 


margin-top: -20px; 
margin-bottom:20px; 

color: white; 
background: orangered;

opacity: 0.8;
padding-top: 10px;
font-family: arial;
font-size: 14px; 

-moz-border-radius: 3px; 
-webkit-border-radius:3px; 
-khtml-border-radius:3px;

}

#ques{

background:white; 
color:green; 
font-family:arial;
opacity: 0.6;

}

#ques:hover{

opacity: 0.8;

}

h4:hover{

color: lightgrey;
transition: all 0.3s ease-in-out;
-webkit-transition: all 0.3s ease-in-out; 
-moz-transition: all 0.3s ease-in-out; 
-o-transition: all 0.3s ease-in-out; 
-ms-transition: all 0.3s ease-in-out;

}

#indexlearn{

width:160px; 
height:18px; 
padding:10px; 
border:2px solid white; 
color:white; 
font-family:Arial; 
display:inline-block;
margin-right: 10px;

-moz-border-radius: 3px; 
-webkit-border-radius:3px; 
-khtml-border-radius:3px;

}


#indexlearn:hover{

color: whitesmoke;
border: 2px solid whitesmoke;

}

#indexpack{

width:160px; 
height:18px; 
padding:11px; 
font-family:arial; 
display:inline-block;

border:1px solid white; 
background:white; 
color: lightgrey; 
-moz-border-radius: 3px; 
-webkit-border-radius:3px; 
-khtml-border-radius:3px; 
transition: all 0.3s ease-in-out;
-webkit-transition: all 0.3s ease-in-out; 
-moz-transition: all 0.3s ease-in-out; 
-o-transition: all 0.3s ease-in-out; 
-ms-transition: all 0.3s ease-in-out;

}

#indexpack:hover{
	padding: 11px;
	border: 1px solid yellowgreen;
	cursor: pointer;
	color: yellowgreen; 
	
	-moz-border-radius: 3px; 
	-webkit-border-radius:3px; 
	-khtml-border-radius:3px;

}

#indexpack2{
	width:160px; 
	height:18px; 
	padding:11px; 
	font-family:arial;
	display:inline-block;

	border:1px solid yellowgreen; 
	background:yellowgreen; 
	color: white; 

	-moz-border-radius: 3px; 
	-webkit-border-radius:3px; 
	-khtml-border-radius:3px; 

	transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out; 
	-moz-transition: all 0.3s ease-in-out; 
	-o-transition: all 0.3s ease-in-out; 
	-ms-transition: all 0.3s ease-in-out;
}

#indexpack2:hover{
	opacity: 0.95;
}

#indexpack3{
	width:160px; 
	height:18px; 
	padding:11px; 
	font-family:arial;
	display:inline-block;

	border:1px solid yellowgreen; 
	background:yellowgreen; 
	color: white; 

	-moz-border-radius: 3px; 
	-webkit-border-radius:3px; 
	-khtml-border-radius:3px; 

	transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out; 
	-moz-transition: all 0.3s ease-in-out; 
	-o-transition: all 0.3s ease-in-out; 
	-ms-transition: all 0.3s ease-in-out;
}

#indexpack3:hover{
	opacity: 0.95;
}

#maillink{

	color:grey; 

	transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out; 
	-moz-transition: all 0.3s ease-in-out; 
	-o-transition: all 0.3s ease-in-out; 
	-ms-transition: all 0.3s ease-in-out;

}

#maillink:hover{

	color: darkgrey;

}

.singlehow{

	width:300px; 
	height:400px; 

	margin-top:20px; 
	margin-right:5px; 

	display:inline-block; 
	vertical-align: top;

	border:1px solid transparent;
	color: lightgrey;

}


#foot1{
	width:1320px; 
	min-width:100%; 

	height:220px; 
	background:#696969;  
	background-size: 100% auto; 
	background-repeat:no-repeat; 

	color: darkgrey; 
	padding:10px 0px 20px 0px; 

	box-shadow: 0 0.125em 0.8em 0 rgba(0, 0, 0, 0.25); 
	-moz-box-shadow: 0 0.125em 0.8em 0 rgba(0, 0, 0, 0.25); 
	-webkit-box-shadow: 0 0.125em 0.8em 0 rgba(0, 0, 0, 0.25);
}

#foot2{
	width:1320px; 
	min-width:100%; 

	height:50px; 
	background:#494949;
}


#projectsub{
	margin-top:15px; 

	width:200px; 
	padding-bottom: 3px;

	border-radius: 5px;
	-moz-border-radius: 5px; 
	-webkit-border-radius: 5px;

	opacity:1; 
	background: lightgrey; 

	font-family:calibri; 
	border: 0px solid transparent; 
	color: white; 
					
	box-shadow: 0 0.065em 0.3em 0 rgba(0, 0, 0, 0.25); 
	-moz-box-shadow: 0 0.065em 0.3em 0 rgba(0, 0, 0, 0.25); 
	-webkit-box-shadow: 0 0.065em 0.3em 0 rgba(0, 0, 0, 0.25);

	transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out; 
	-moz-transition: all 0.3s ease-in-out; 
	-o-transition: all 0.3s ease-in-out; 
	-ms-transition: all 0.3s ease-in-out;

}

#projectsub:hover{
	background: orangered;
}



/* ################ SIGNUP.PHP #################### */


#sign-logo-div{
	width:1320px; 
	min-width:100%; 
	height:100px; 
	margin-bottom:30px; 
}

#sign-logo{
	font-family: HPsimplified; 
	font-size: 32px; 
	margin-top: 10px; 
	margin-left:0px; 
	height:100px; 
	width:300px; 
	background:url(images/logozino.png); 
	background-size:contain; 
	background-repeat:no-repeat;
}

#sign-block{
	width: 800px; 
	margin: 0px auto 0px auto; 
	margin-top:10px;

	padding-top: 50px;

	
}

#sign-inp1, #sign-inp2, #sign-inp3{
	height: 38px; 
	width: 300px; 
	border: 1px solid lightgray; 
	border-radius: 5px;
}

#alred{
	width:205px; 
	height:auto; 
	background: 
	whitesmoke; 
	padding: 10px; 
	font-family:arial; 
	font-size:14px; 
	
	margin-top:40px; 
	color:grey; 
	opacity:0.7;
}



/* ################ FOOTER.PHP #################### */

#foot1{
	width:1320px; 
	min-width:100%; 
	height:220px; 

	background: rgba(0,0,0,0.65); 
	background: url(images/backfoot.png);
	background-repeat: repeat-x repeat-y; 

	color: darkgrey; 
	padding:10px 0px 20px 0px; 

	box-shadow: 0 0.125em 0.8em 0 rgba(0, 0, 0, 0.25); 
	-moz-box-shadow: 0 0.125em 0.8em 0 rgba(0, 0, 0, 0.25); 
	-webkit-box-shadow: 0 0.125em 0.8em 0 rgba(0, 0, 0, 0.25);
}

#foot-base{
	width:1320px; 
	min-width:100%; 
	height:50px; 
	background: rgba(0,0,0,0.8); 
}


/* ################## MEMBERS.PHP ################################# */

#mem-block{
	width:1320px; 
	min-width:100%; 
	height:300px; 
	padding-top:50px
}

#mem-message{
	width:1320px; 
	min-width:100%; 
	height:10px;
}

#pitch-block{
	width:1320px; 
	min-width:100%; 
	height:auto; 
	padding:20px 0px;
	margin: 50px 0px;
}

#pitch-text{
	height:250px; 
	width:600px; 
	font-family:Arial; 
	color:grey; 
	border-top:1px solid lightgrey; 
	margin-top:50px;
}

#log-bar{
	height: 40px; 
	width: 300px; 
	border: 1px solid lightgray; 
	border-radius: 5px; 
	margin-bottom:5px;
}

#text404{
	width:650px; 
	height:auto; 
	font-family:Arial; 
	padding-bottom:30px; 
	color:grey; 
	padding:40px;  
	border:3px solid whitesmoke;

}

#addterm{

	width: 240px; 
	font-family:rounded; 
	font-size:12px; 

	margin-top:8px; 
	margin-bottom:20px; 
	color:grey; 
	background: rgba(0,0,0,0.5); 
	padding: 5px; 

	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}




/* ########################## photographers stylesheet ######################## */

#logobase{
	height: 40px; 

	border: 1px solid #2a2a2a; 

	margin-top: 7px; 
	margin-left: 35px; 
	padding: 0px 10px 0px 0px; 

	float: left; 
	cursor: pointer;
	opacity: 1;

	border-radius: 5px; 
	-moz-border-radius: 5px; 
	-webkit-border-radius: 5px;
}

#logobase:hover{
	opacity: 0.8;
}

#logoimg{
	color: grey; 
	font-family: calibri;

	float: left;	
	 
	opacity: 0.7;
	cursor: pointer;
}

#limg{
	height: 40px; 
	width: 45px; 

	user-drag: none; 
	user-select: none; 
	-moz-user-drag: none; 
	-moz-user-select: none; 
	-webkit-user-drag: none; 
	-webkit-user-select: none;	
}

#logotxt{
	color: grey;  
	font-family: rounded; 
	font-size: 16px;

	float: left;

	margin-top: 10px; 
	margin-left: 0px; 
	cursor: pointer;
}

#navext{
	color: grey; 
	font-family: calibri;
	float: right;

	margin-top: 20px;  
	margin-right: 35px; 

	cursor: pointer;

	transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out; 
    -moz-transition: all 0.3s ease-in-out; 
    -o-transition: all 0.3s ease-in-out; 
    -ms-transition: all 0.3s ease-in-out;

}

#barext{
	height: 16px; 
	width: 20px; 

	user-drag: none; 
	user-select: none; 
	-moz-user-drag: none; 
	-moz-user-select: none; 
	-webkit-user-drag: none; 
	-webkit-user-select: none;
}

#navfaq{
	color: lightgrey; 
	font-family: arial; 
	font-size: 14px; 

	float: right;

	margin-top: 20px;  
	margin-right: 35px; 

	cursor: pointer;

}

#navagencies{
	color: lightgrey; 
	font-family: arial; 
	font-size: 14px; 

	float: right;

	margin-top: 20px;  
	margin-right: 35px; 

	cursor: pointer;

}

#navfaq:hover, #navagencies:hover, #navext:hover{
	opacity: 0.6;
}

#faqhq{
	font-family: arial; 
	font-size: 49px; 

	color: whitesmoke; 
	padding: 2px 0px 15px 30px;
}

.lander{
	
	max-width: 100%;
	min-height: 670px;
	height: 670px;

	background-image: url(images/pais.jpg);
	background-size: 100% 100%;

}

.headland{
	width: 800px;
	height: auto;

	color: white;

	font-family: Arial;
	font-size: 48px;

}

#hland1{
	font-size: 56px;
	font-weight: bold;
	color: white;

	font-style: italic;
}

#hland2{
	font-size: 56px;
	font-weight: bold;
	color: pink;

	font-style: italic;
}

#hland3{
	font-size: 56px;
	font-weight: bold;
	color: white;
}

#hland4{
	font-size: 56px;
	font-weight: bold;
	color: white;
}


#landb0{
	width: 120px;
	height: 30px;
	padding: 10px 5px 5px 5px;
	margin: 30px 10px;

	background: green;
	background-image: linear-gradient(to top right, green, limegreen);

  	border: none;
	color: white;

	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;

	font-family: arial;
	font-size: 20px;
	font-weight: bold;

	display: inline-block;
	cursor: pointer;
}

#landb0:hover{

	background: #006600;
	background-image: linear-gradient(to top right, #006600, #00b200);
	text-shadow: 1px 1px green;

	transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out; 
    -moz-transition: all 0.3s ease-in-out; 
    -o-transition: all 0.3s ease-in-out; 
    -ms-transition: all 0.3s ease-in-out;
}

#landb1{
	display: inline-block; 
	font-family: roundedbold; 
	font-size: 18px; 
	color: whitesmoke;
}

#landb2{
	width: 80px;
	height: 25px;
	padding: 7px 5px 3px 5px;

	background: transparent;
	background-image: linear-gradient(to top right, transparent, rgba(255,255,255,0.5));
  	border: 2px solid white;
	color: white;

	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;

	font-family: arial;
	font-size: 18px;
	font-weight: bold;

	display: inline-block;
	cursor: pointer;

}

#landb2:hover{

	background: transparent;
	background-image: linear-gradient(to top right, transparent, rgba(255,255,255,0.8));

	transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out; 
    -moz-transition: all 0.3s ease-in-out; 
    -o-transition: all 0.3s ease-in-out; 
    -ms-transition: all 0.3s ease-in-out;

}

#landlog{

	width:380px;
	height: auto; 

	background: rgba(0,0,0,0.2); 

	border-radius: 7px;
	-moz-border-radius: 7px;
	-webkit-border-radius: 7px;

	padding: 8px;
	margin: 40px 0px 0px 0px;


}

#plusle{
	background: url(images/plus.png);
	background-size: contain;
	height: 12px;
	width: 12px;

	margin-right: 15px;
	display: inline-block;
}




#landsec{
	max-width: 100%;

	height: 650px; 
	background-image: white;
  	background-size: cover; 
  	background-repeat: no-repeat; 
  	background-position: 
  	top center; 
  	
  	font-family: Arial; 
  	color: grey;

box-shadow: inset 0 -17px 29px -17px rgba(0,0,0,0.4); 
-webkit-box-shadow: inset 0 -17px 29px -17px rgba(0,0,0,0.4);  
-moz-box-shadow: inset 0 -17px 29px -17px rgba(0,0,0,0.4); 
}

#landsec2{
	height: 350px; 

	background: white; 
	background-size: cover; 

	 
	font-family: Arial; 
	color: grey; 

	padding: 30px 0px;

box-shadow: inset 0 -7px 19px -7px rgba(0,0,0,0.4); 
-webkit-box-shadow: inset 0 -7px 19px -7px rgba(0,0,0,0.4);  
-moz-box-shadow: inset 0 -7px 19px -7px rgba(0,0,0,0.4); 
}

#landsec3{
	height: 350px; 
	background: url(images/bbg2.jpg); 
	    		
	font-family: Arial; 
	color: grey; 

	padding: 30px 0px;

box-shadow: inset 0 -7px 19px -7px rgba(0,0,0,0.4); 
-webkit-box-shadow: inset 0 -7px 19px -7px rgba(0,0,0,0.4);  
-moz-box-shadow: inset 0 -7px 19px -7px rgba(0,0,0,0.4); 
}

#landsecwrap1{
	 
	max-width:500px;

}

#landsecwrap2{
	 
	max-width:500px;
}

#lsw1{

}

	#lsw1w1{
		font-size: 72px; 
		font-weight: bold; 
		color: orangered;
	}

	#lsw1w1x{
		font-size: 72px; 
		font-weight: bold; 
		color: white;
		margin-left: -200px;
	}

#lsw2{
	 
	margin-top: -30px; 
	margin-left:200px;
}

#lswx{
	 
	margin-top: -20px; 
	margin-left:100px;
}

	#lsw2w1{
		font-size: 62px; 
		color: white;
		display: inline-block;
	}

	#lsw2w2{
		font-size: 62px; 
		font-style: italic;
		display: inline-block; 
		color: whitesmoke; 
		font-weight: bolder;
	}

	#lsw2w1x{
		font-size: 62px; 
		color: grey;
		display: inline-block;

	}

	#lsw2w2x{
		font-size: 62px; 
		display: inline-block; 
		color: grey; 
		font-weight: bolder;

	}

#lsw3{
	 
	margin-top: -15px;
}

#lsw3w1{
	font-size: 62px;
}

#lsw3w2{
	font-size: 92px; 
	display: inline-block; 
	font-weight: bold; 	

	margin-left:200px; 
	margin-top: -40px; 

	color: #0DC4FD;
}


#lsw4w1{
	font-size: 52px; 

	width: 300px; 
	margin-left: -140px;
}

#lsw4w2{
	font-size: 52px; 
	font-style: italic;
	width: 200px; 

	margin-left: 300px; 
	margin-top: -50px;

	color: darkgrey;
	font-weight: normal;
}

#lsw4w3{
	font-size: 92px; 
	width: 400px; 

	color: orangered; 
	font-weight: bold; 
	margin-left: -90px; 
	margin-top: -25px; 

	font-style: italic;
}

#lsw4w4{
	font-size: 52px;  
	width: 300px; 

	margin-top: -20px;
}

#lsw4w5{
	font-size: 82px;  
	width: 150px; 

	margin-left: 250px; 
	margin-top: -70px;

	color: #0DC4FD; 
	font-weight: bolder;
}

#qbox{	
	vertical-align: top;
	min-height: 120px; 
	max-width: 340px; 

	padding: 10px; 
	padding-bottom: 30px;
	border: 1px solid whitesmoke;
	border-top: 3px solid red;

	background: rgba(255, 255, 255, 0.7);

	display: inline-block;
	margin:20px 10px;

	border-radius: 100%/0 0 60px 60px;
	-moz-border-radius: 100%/0 0 60px 60px;
	-webkit-border-radius: 100%/0 0 60px 60px;

	box-shadow: 3px 0px 8px lightgrey;
	-moz-box-shadow: 3px 0px 8px lightgrey;
	-webkit-box-shadow: 2px 0px 6px lightgrey;
}

.qqwc{
	font-family: Arial;
	font-weight: bold;

	margin: 10px;
	margin-bottom: 20px;

	padding: 5px;
}

.qansas{
	font-family: rounded;
	margin: 15px;

	text-align: justify;
}

#pisp{

	font-size: 42px;
}

.junk{
	font-size: 46px; font-weight: bold;
}

#wrapper2{
	
}

#logo-guy{
	height: 60px; 
	width: 180px; 

	background: url(images/baselogo.png); 
	background-size: contain; 
	background-repeat: none;

	border-radius: 5px; 
	-moz-border-radius: 5px; 
	-webkit-border-radius: 5px; 

	opacity: 0.7;

	transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out; 
	-moz-transition: all 0.3s ease-in-out; 
	-o-transition: all 0.3s ease-in-out; 
	-ms-transition: all 0.3s ease-in-out;

}

#logo-guy:hover{
	opacity: 0.95;
}

#logo-guyx{
	height: 35px; 
	width: 104px; 

	margin-left: 20px;
	float: left;
						
	background: url(images/baselogo.png); 
	background-size: contain; 
	background-repeat: none;

	border-radius: 5px; 
	-moz-border-radius: 5px; 
	-webkit-border-radius: 5px; 

	opacity: 0.5;

	transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out; 
	-moz-transition: all 0.3s ease-in-out; 
	-o-transition: all 0.3s ease-in-out; 
	-ms-transition: all 0.3s ease-in-out;

}

#logo-guyx:hover{
	opacity: 0.9;
}

#toTop{
	position: fixed; 

	bottom: 25px; 
	right: 50px; 

	height: 30px; 
	width: 30px; 

	padding: 3px

	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;

	background-color: grey; 
	background-image: linear-gradient(to top right, grey, darkgrey);
	display: none;
}

#trypixhome{
	width: 150px; 

	background:#FC0081; 
	background-image: linear-gradient(to top right, #FC0081, #FC0081); 

	height: 20px;
						 
	color:whitesmoke; 
	opacity:0.95; 

	padding:10px; 
	margin-top:30px; 

	font-family:Arial; 
	font-weight: bolder; 

	cursor:pointer;
	opacity: 0.9;

	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
						 

	box-shadow: 0 0.065em 0.3em 0 rgba(0, 0, 0, 0.25); 
	-moz-box-shadow: 0 0.065em 0.3em 0 rgba(0, 0, 0, 0.25); 
	-webkit-box-shadow: 0 0.065em 0.3em 0 rgba(0, 0, 0, 0.25);

	transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out; 
	-moz-transition: all 0.3s ease-in-out; 
	-o-transition: all 0.3s ease-in-out; 
	-ms-transition: all 0.3s ease-in-out;
}

#trypixhome:hover{
	opacity: 1;
}

@media screen and (min-width: 600px) and (max-width: 849px){

	#faqhq{
		font-size: 40px;
	}

}

@media screen and (min-width: 350px) and (max-width: 599px){


	#lsw1w1{
		font-size: 62px;
	}

	#lsw1w1x{
		font-size: 62px;
		margin-left: -150px;
	}

	#lsw2{
		margin-left: 130px;
		margin-top: -23px;
	}

	#lswx{
		margin-left: 80px;
		margin-top: -18px;
	}

	#lsw2w1{
		font-size: 42px;
	}

	#lsw2w2{
		font-size: 42px;
	}

	#lsw2w2x, #lsw2w1x{
		font-size: 42px;
	}


	#lsw3w1{
		font-size: 48px;
	}

	#lsw3w2{
		font-size: 72px;
		margin-left: 140px;
		margin-top: -35px;
	}



	#lsw4w1{
		font-size: 36px;
		margin-left: -120px;
	}

	#lsw4w2{
		font-size: 36px;
		margin-left: 170px;
		margin-top: -35px;
		width: 160px;
	}

	#lsw4w3{
		font-size: 68px;
		margin-left: -110px;
		margin-top: -15px;

		width: 200px;
	}

	#lsw4w4{
		font-size: 46px;
		margin-top: -18px;

		width: 200px;
	}

	#lsw4w5{
		font-size: 58px;
		margin-left: 200px;
		margin-top: -58px;

		width: 100px;
	}

	#pisp{
		font-size: 36px;
	}

	#landsec{
		background-image: white;
	  	background-size: cover; 
	  	background-repeat: no-repeat; 
	  	background-position: 
	  	top center; 
	  	
	  	font-family: Arial; 
	  	color: grey;
	}

	#logobase{
		margin-left: 20px;
	}

	#navfaq, #navagencies, #navext{
		font-size: 13px;
		margin-right: 20px;
		margin-top: 21px;
	}

	#faqhq{
		font-size: 32px;
	}

}

@media screen and (min-width: 250px) and (max-width: 349px){

	#landsec2{
		height: 220px;
	}

	#landsec3{
		height: 250px
	}

	#lsw1w1{
		font-size: 52px;
	}

	#lsw1w1x{
		font-size: 52px;
		margin-left: -80px;
	}

	#lsw2{
		margin-left: 100px;
		margin-top: -15px;
	}

	#lswx{
		margin-left: 80px;
		margin-top: -14px;
	}

	#lsw2w1{
		font-size: 32px;
	}

	#lsw2w2{
		font-size: 32px;
	}

	#lsw2w2x, #lsw2w1x{
		font-size: 32px;
	}

	#lsw3w1{
		font-size: 42px;
	}

	#lsw3w2{
		font-size: 62px;
		margin-left: 100px;
		margin-top: -25px;
	}

	#lsw4w1{
		font-size: 28px;
		margin-left: -85px;
	}

	#lsw4w2{
		font-size: 28px;
		margin-left: 140px;
		margin-top: -25px;
		width: 130px;
	}

	#lsw4w3{
		font-size: 58px;
		margin-left: -65px;
		margin-top: -15px;

		width: 200px;
	}

	#lsw4w4{
		font-size: 36px;
		margin-top: -15px;

		width: 200px;
	}

	#lsw4w5{
		font-size: 48px;
		margin-left: 165px;
		margin-top: -45px;

		width: 100px;
	}

	#pisp{
		font-size: 28px;
		padding-top: 30px;
	}

	#landsec{
		background-image: white;
	  	background-size: cover; 
	  	background-repeat: no-repeat; 
	  	background-position: 
	  	top center; 
	  	
	  	font-family: Arial; 
	  	color: grey;
	}

	.junk{
		font-size: 38px;
	}

	#logobase{
		margin-left: 10px;
	}


	#navfaq, #navagencies, #navext{
		font-size: 12px;
		margin-right: 15px;
		margin-top: 22px;
	}

	#faqhq{
		font-size: 28px;
	}


}


/* ##################################################################################################################################### */
/* ##################################################################################################################################### */
/* ##################################################################################################################################### */
/* ##################################################################################################################################### */
/* ##################################################################################################################################### */
/* ##################################################################################################################################### */
/* ##################################################################################################################################### */
/* ##################################################################################################################################### */


@media screen and (min-width: 1201px) and (max-width: 1319px){

	.header{
		width: 1150px;
		height: 50px;
	}

	.header-input{
		height: 25px;
		font-size: 16px;
	}

	#headerduo{
		max-width: 100%;
	}

	.drop{
		font-size: 14px;
	}

	#sign-logo-div{
		max-width:1150px;
	}

	#sign-logo{
		height: 95px;
		width: 290px;
		margin-left: 0px;
		
	}

	#sign-block{
		width: 800px; 
		margin: 0px auto 0px auto; 
		margin-top:0px;

		
	}

	#sign-inp1, #sign-inp2, #sign-inp3{
		width: 300px; 
	}

	#stack-foot, #foot-base{
		width:1150px;
	}

	.banner, #mem-block, #pitch-block, #mem-message{
		width: 1150px;
	}

	#sign2{
		width: 240px;
	}

	#que1, #que2{
		width: 300px;
	}

	#res{
		width: 1150px;
	}

	.userbanner, #userbanner-margin{
		width: 1150px;
		font-size: 14px;
	}

	.infobar{
		width: 1150px;
	}

	#bitimg{
		max-width: 1100px;
		max-height: 200px;
	}

	.user-menu, .user-menu-select{
		width: 100px;
		margin:auto;

	}

	.earnings{
		width: 1150px;
	}

}


@media screen and (min-width: 1001px) and (max-width: 1200px){
	
	.header{
		width: 950px;
		height: 48px;
	}

	.header-input{
		height: 24px;
		font-size: 14px;
		padding-top: 12px;
	}

	.header-input-dot{
		width: 20px;
		height:18px;
		padding-top: 10px;
		margin-top: 12px;
	}

	#headerduo{
		max-width: 100%;
	}

	.drop{
		font-size: 14px;
	}

	#sign-logo-div{
		max-width: 950px;
	}

	#sign-logo{
		height: 90px;
		width: 280px;
		margin-left: 0px;
		
	}

	#sign-block{
		width: 800px; 
		margin: 0px auto 0px auto; 
		margin-top:0px;

		
	}

	#sign-inp1, #sign-inp2, #sign-inp3{
		width: 300px; 
	}

	#stack-foot, #foot-base{
		width:950px;
	}

	.banner, #mem-block, #pitch-block, #mem-message{
		width: 950px;
	}

	#sign2{
		width: 240px;
	}

	#que1, #que2{
		width: 300px;
	}

	#res{
		width: 950px;
	}

	.userbanner, #userbanner-margin{
		width: 950px;
		font-size: 14px;
	}

	.infobar{
		width: 950px;
	}

	#bitimg{
		max-width: 900px;
		max-height: 200px;
	}

	.user-menu, .user-menu-select{
		width: 100px;
		margin:auto;

	}

	.earnings{
		width: 950px;
	}
}


@media screen and (min-width: 850px) and (max-width: 1000px) {

	.header{
		width: 800px;
		height: 46px;
	}

	.header-input{
		height: 22px;
		font-size: 12px;
		padding-top: 11px;
	}

	.header-input-dot{
		width: 18px;
		height:15px;
		padding-top: 10px;
		margin-top: 10px;
	}

	#headerduo{
		max-width: 100%;
	}

	.drop{
		font-size: 14px;
	}

	#sign-logo-div{
		max-width: 800px;
	}

	#sign-logo{
		height: 85px;
		width: 270px;
		margin-left: 0px;
		
	}

	#sign-block{
		width: 800px; 
		margin: 0px auto 0px auto; 
		margin-top:0px;

		
	}

	#sign-inp1, #sign-inp2, #sign-inp3{
		width: 280px; 
	}

	#stack-foot, #foot-base{
		width:800px;
	}

	.banner, #mem-block, #pitch-block, #mem-message{
		width: 800px;
	}

	#sign2{
		width: 240px;
	}

	.support{
		width: 600px;
	}

	#que1, #que2{
		width: 300px;
	}

	#text404{
		width:600px;
	} 

	#result #feedone{
		width: 630;
	}

	#uploadbox{
		width: 750px;
		padding: 35px;
		padding-bottom:70px; 
	}

	#upim{
		width: 350px;
	}


	#res{
		width: 750px;
	}

	.userbanner, #userbanner-margin{
		width: 750px;
		font-size: 14px;
	}

	.infobar{
		width: 750px;
	}

	#bitimg{
		max-width: 700px;
		max-height: 200px;
	}

	.user-menu, .user-menu-select{
		width: 100px;
		margin:auto;

	}

	.earnings{
		width: 750px;
	}
	
	.balance, .updatepay{
		width: 400px;
		margin: auto;
	}
}

@media screen and (min-width: 600px) and (max-width: 849px){
	
	.header{
		width: 550px;
		height: 43px;
	}

	.header-input{
		height: 20px;
		font-size: 12px;
		padding-top: 10px;
	}

	.header-input-dot{
		width: 16px;
		height:13px;
		padding-top: 10px;
		margin-top: 10px;
	}


	.headland{
		width: 340px;
		font-size: 46px;

		margin-top: -40px;
	}

	#hland1, #hland2{
		font-size: 58px;
	}

	#hland3, #hland4{
		font-size: 46px;
		font-weight: bolder;
	}

	#landlog{
		width: 320px;
		margin-top: 20px;
	}

	#landb1{
		font-size: 16px;
	}



	.search{
		width: 400px;
	}

	#searchbox{
		width: 400px;
	}

	#headerduo{
		max-width: 100%;
	}

	.drop{
		font-size: 14px;
	}

	#sign-logo-div{
		max-width: 550px;
	}

	#sign-logo{
		height: 80px;
		width: 260px;
		margin-left: 10px;
		
	}

	#sign-block{
		width: 550px; 
		margin: 0px auto 0px auto; 
		margin-top:-5px;

		
	}

	#sign-inp1, #sign-inp2, #sign-inp3{
		width: 280px; 
	}

	#stack-foot, #foot-base{
		width:550px;
	}

	.banner, #mem-block, #pitch-block, #pitch-text, #mem-message{
		width: 550px;
	}

	#sign2{
		width: 240px;
	}

	.support{
		width: 500px;
	}

	#cin1, #cin2, #cin3, #cin4, #ques{
		width: 280px;
	}

	#que1, #que2{
		width: 280px;
	}

	#text404{
		width:500px;
	} 

	#result #feedone{
		width: 480;
	}

	#fullclose{
		height:25px;
		width: 25px;

		float: none;
		clear: none;
		display: block;

		position: fixed;
		right:0;
	}


	#fullbox{
		float: none;
		display: block;

		width: 500px;
		height: 250px;

		margin:auto;
		margin-top: 30px;
		position: relative;

	}

	#fulldetails{
		float:none;
		display: block;
		width: 500px;
		height: 350px;

		position: relative;
		margin:auto;
	}

	#blockone{
		height: 80px;
	}

	#blocktwo{
		font-size: 13px;
		height: 80px;
		padding-top:4%; 
	}

	#namebar{
		margin-top: 10px;
	}



	#uploadbox{
		width: 450px;
		padding: 30px 20px 70px;
	}

	#upimage{
		height: 300px;
		padding: 10px;
	}

	#upim{
		height: 160px;
		width: 300px;
		border: none;

		float: none;
		margin:auto;
		margin-bottom: 8px;

		vertical-align: middle;
		align-items: center;
	}

	#uphash{
		width: 285px;
		height: 120px;
		float: none;
		margin:auto;
	}

	#hashinp{
		width: 305px;
	}



	#res{
		width: 550px;
	}

	.userbanner, #userbanner-margin{
		width: 550px;
		font-size: 14px;
	}

	.infobar{
		width: 550px;
	}

	#bitimg{
		max-width: 500px;
		max-height: 200px;
	}

	.user-menu, .user-menu-select{
		width: 100px;
		margin:auto;

	}

	.earnings{
		width: 550px;
	}
	
	.balance, .updatepay{
		width: 380px;
		margin: auto;
	}

	#uppaybx{
		width: 78%;
	}

	#paydisp, .paybox, #zig{
		width: 470px;
		height: auto;

	}

	#payslide{
		max-width: 510px;
		font-size: 14px;
	}

	#thankbox{
		width: 500px;
		padding: 25px;
	}
}


@media screen and (min-width: 350px) and (max-width: 599px){

	.header{
		width: 350px;
		height: 38px;
	}

	.header-input{
		height: 18px;
		font-size: 12px;
		padding-top: 10px;
	}

	.header-input-logo{
		width: 30px;
		background: url(images/favilogo.png);
		background-size: contain;
		background-repeat: no-repeat;
	}

	.header-input-dot{
		width: 16px;
		height:13px;
		padding-top: 10px;
		margin-top: 10px;
	}

	.search{
		width: 320px;
	}

	#searchbox{
		width: 320px;
	}

	#headerduo{
		max-width: 100%;
	}

	.drop{
		font-size: 14px;
	}

	#sign-logo-div{
		max-width: 350px;
	}

	#sign-logo{
		height: 75px;
		width: 250px;
		margin-left: 15px;
		
	}

	#sign-block{
		width: 350px; 
		margin: 0px auto 0px auto; 
		margin-top:-10px;

		
	}

	#sign-inp1, #sign-inp2, #sign-inp3{
		width: 260px; 
	}

	#stack-foot, #foot-base{
		width:350px;
	}

	.banner, #mem-block, #pitch-block, #pitch-text, #mem-message{
		width: 350px;
	}

	#sign2{
		width: 240px;
	}

	.support{
		width: 310px;
	}

	#cin1, #cin2, #cin3, #cin4, #ques{
		width: 240px;
	}

	#que1, #que2{
		width: 190px;
	}

	.faq{
		padding: 30px;
	}

	.ans2{
		margin: none;
	}

	#text404{
		width:300px;
		padding: 15px;
	} 

	#result #feedone{
		width: 300;
	}

	#fullclose{
		height:20px;
		width: 20px;

		float: none;
		clear: none;
		display: block;

		position: fixed;
		right:0;
	}


	#fullbox{
		float: none;
		display: block;

		width: 300px;
		height: 220px;

		margin:auto;
		margin-top: 25px;
		position: relative;

	}

	#fulldetails{
		float:none;
		display: block;
		width: 300px;
		height: 300px;

		position: relative;
		margin:auto;
	}

	#blockone{
		height: 80px;
	}

	#blocktwo{
		font-size: 12px;
		height: 80px;
	}

	#namebar{
		margin-top: 10px;
	}


	#uploadbox{
		width: 300px;
		padding: 30px 20px 70px;
	}

	#upimage{
		height: 270px;
		padding: 10px;
	}

	#upim{
		height: 135px;
		width: 200px;
		border: none;

		float: none;
		margin:auto;
		margin-bottom: 3px;

		vertical-align: middle;
		align-items: center;
	}

	#uphash{
		width: 185px;
		height: 120px;
		float: none;
		margin:auto;
	}

	#hashinp{
		width: 205px;
	}

	.nofeed{
		height: 60px;
		width: 300px;

		padding: 10px;
		font-size: 14px;
	}

	#memberbx{
		border: 1px solid transparent;
	}

	#no-more{
		font-size: 0.7em; 
	}

	


}


/*********/

@media screen and (min-width: 450px) and (max-width: 599px){

	#res{
		width: 400px;
	}

	.userbanner, #userbanner-margin{
		width: 400px;
		font-size: 14px;
	}

	.infobar{
		width: 400px;
	}

	#bitimg{
		max-width: 360px;
		max-height: 180px;
	}

	.user-menu, .user-menu-select{
		width: 133.33px;
		margin:auto;

	}

	.earnings{
		width: 400px;
	}
	
	.balance, .updatepay{
		width: 320px;
		margin: auto;
	}

	#uppaybx{
		width: 70%;
	}

	#paydisp, .paybox, #zig{
		width: 370px;
		height: auto;

	}

	#payslide{
		max-width: 410px;
		font-size: 14px;
	}

	#thankbox{
		width: 365px;
		padding: 20px;
		font-size: 14px;
	}


	.headland{
		width: 340px;
		font-size: 46px;

		margin-top: -40px;
	}

	#hland1, #hland2{
		font-size: 58px;
	}

	#hland3, #hland4{
		font-size: 44px;
		font-weight: bolder;
	}

	#landlog{
		width: 320px;
		margin-top: 20px;
	}

	#landb1{
		font-size: 16px;
	}

	#no-more{
		font-size: 0.7em; 
	}


}


@media screen and (min-width: 350px) and (max-width: 449px){

	#res{
		width: 300px;
	}

	.userbanner, #userbanner-margin{
		width: 300px;
		font-size: 12px;
	}

	.infobar{
		width: 300px;
	}

	#bitimg{
		max-width: 270px;
		max-height: 180px;
	}

	.user-menu, .user-menu-select{
		width: 100px;
	}


	.earnings{
		width: 300px;
	}
	
	.balance, .updatepay{
		width: 240px;
		margin: auto;
	}

	#uppaybx{
		width: 65%;
	}

	#paydisp, .paybox, #zig{
		width: 270px;
		height: auto;

	}

	#payslide{
		font-size: 14px;
	}

	#thankbox{
		width: 285px;
		padding: 15px;
		font-size: 14px;
	}


	.headland{
		width: 300px;
		font-size: 36px;

		margin-top: -20px;
	}

	#hland1, #hland2{
		font-size: 48px;
	}

	#hland3, #hland4{
		font-size: 36px;
		font-weight: bolder;
	}

	#landlog{
		width: 280px;
		margin-top: 20px;
	}

	#landb1{
		font-size: 16px;
	}

	#no-more{
		font-size: 0.7em; 
	}


}

/*********/


@media screen and (min-width: 250px) and (max-width: 349px){

	.header{
		width: 250px;
		height: 36px;
	}

	.header-input{
		height: 16px;
		font-size: 11px;
		padding-top: 10px;
	}

	.header-input-logo{
		width: 25px;
		background: url(images/favilogo.png);
		background-size: contain;
		background-repeat: no-repeat;
	}

	.header-input-dot{
		width: 10px;
		height:10px;
		padding-top: 10px;
		margin-top: 10px;
	}

	.headland{
		width: 250px;
		font-size: 32px;

		margin-top: -20px;
	}

	#hland1, #hland2{
		font-size: 42px;
	}

	#hland3, #hland4{
		font-size: 32px;
		font-weight: bolder;
	}

	#landlog{
		width: 260px;
		margin-top: 20px;
	}

	#landb1{
		font-size: 15px;
	}

	.search{
		width: 230px;
	}

	#searchbox{
		width: 230px;
	}

	#headerduo{
		max-width: 100%;
	}

	.drop{
		font-size: 14px;
	}

	#sign-logo-div{
		max-width: 250px;
		height: 80px;
	}

	#sign-logo{
		height: 70px;
		width: 240px;
		margin-left: 20px;
		
	}

	#sign-block{
		width: 250px; 
		margin: 0px auto 0px auto; 
		margin-top:-10px;

		
	}

	#sign-inp1, #sign-inp2, #sign-inp3{
		width: 240px; 
	}

	#stack-foot, #foot-base{
		width:250px;
	}

	.banner, #mem-block, #pitch-block, #pitch-text, #mem-message{
		width: 250px;
	}

	#log-bar{
		width: 220px;
	}

	#sign2{
		width: 245px;
	}

	.support{
		width: 240px;
	}

	.pop, .popone, .poptwo, .popthree, .popfour, .popsuccess{
		width: 220px;
	}

	#cin1, #cin2, #cin3, #cin4, #ques{
		width: 220px;
	}

	#que1, #que2{
		width: 180px;
	}

	.faq{
		padding: 15px;
	}

	.ans2{
		margin: none;
	}

	#alred{
		margin-top: -1px;
		width: 175px;
	}

	#text404{
		width:240px;
		padding: 10px;
		border: none;
	} 

	#result #feedone{
		width: 230;
	}

	#fullclose{
		height:20px;
		width: 20px;

		float: none;
		clear: none;
		display: block;

		position: fixed;
		right:0;
	}


	#fullbox{
		float: none;
		display: block;

		width: 250px;
		height: 200px;

		margin:auto;
		margin-top: 25px;
		position: relative;

	}

	#fulldetails{
		float:none;
		display: block;
		width: 250px;
		height: 300px;

		position: relative;
		margin:auto;
	}

	#blockone{
		height: 80px;
	}

	#blocktwo{
		width: 200px;
		font-size: 12px;
		height: 80px;
	}

	#namebar{
		margin-top: 10px;
	}

	#uploadbox{
		border: none;
		width: 240px;
		padding: 30px 20px 70px;
	}

	#upimage{
		height: 250px;
		padding: 5px;
		padding-top: 10px;
	}

	#upim{
		height: 110px;
		width: 185px;
		float: none;
		border: none;

		margin:auto;
		margin-bottom: 3px;

		vertical-align: middle;
		align-items: center;
	}

	#uphash{
		width: 155px;
		height: 120px;
		float: none;
		margin:auto;
	}

	#hashinp{
		width: 175px;
	}

	.nofeed{
		height: 60px;
		width: 240px;

		padding: 10px;
		font-size: 14px;
	}

	#memberbx{
		border: 1px solid transparent;
	}


	#res{
		width: 270px;
	}

	.userbanner, #userbanner-margin{
		width: 270px;
		font-size: 12px;
	}

	.infobar{
		width: 270px;
	}

	#bitimg{
		max-width: 240px;
		max-height: 180px;
	}

	.user-menu, .user-menu-select{
		width: 90px;
	}

	.earnings{
		width: 270px;
	}
	
	.balance, .updatepay{
		width: 220px;
		margin: auto;
	}

	#uppaybx{
		width: 60%;
	}


	#paydisp, .paybox, #zig{
		width: 220px;
		height: auto;

	}

	#payslide{
		font-size: 14px;
	}

	#thankbox{
		width: 230px;
		padding: 15px;

		font-size: 14px;
	}

	#payalert-success, #payalert-danger{
		max-width: 240px;
	}

	#no-more{
		font-size: 0.7em; 
	}

}




