*{
	margin: 0px;
	padding: 0px;
}

@font-face{font-family: quick;src: url(fonts/quicksand-regular-webfont.ttf);}

.panel{
	height:100%; 
	width:100%;
}


.sec{
	width: 1320px;
	min-width: 100%;

}

#afternoon{

height:700px; 
background-color: orangered; 
background: url(images/salescopy.jpg); 
background-size: cover; 
background-position:center center;

-webkit-transition: opacity 0.8s ease-in-out; 
-moz-transition: opacity 0.8s ease-in-out; 
-o-transition: opacity 0.8s ease-in-out; 
-ms-transition: opacity 0.8s ease-in-out; 
transition: opacity 0.8s ease-in-out;

}

#journey{

height:650px; 
background-color: lightgrey; 
background: url(images/salescopy0.jpg); 
background-size: cover; 
background-position:center center;

-webkit-transition: opacity 0.8s ease-in-out; 
-moz-transition: opacity 0.8s ease-in-out; 
-o-transition: opacity 0.8s ease-in-out; 
-ms-transition: opacity 0.8s ease-in-out; 
transition: opacity 0.8s ease-in-out;

}

#zone{
	background: whitesmoke; 
	color:grey; 
	float:left; 
	clear:right; 
	height:40px; 
	padding:2px; 
	padding-left:10px;
}

#zone:hover{
	border: 1px solid transparent;
}



#landslogan{
	height:650px; 
	background: #F0EEE2; 
	padding-top:2px	
}

#landslogan2{
	height:650px; 
	background: lightgrey; 
	padding-top:2px;
}

#landslogan3{
	height:700px; 
	background: whitesmoke; 
	padding-top:2px;
}

#landslogan3-hide{
	font-family:Arial; 
	font-weight:bolder; 
	font-size:48px; 
	margin-top:50px; 
	color:black;
	padding: 15px;
}

#salescopy1{
	height:650px; 
	background-color: white;
}

#lsh-1{
	font-size:38px; 
	margin-top:10px;
	padding: 15px;
}

#lsh-2{
	height:18%; 
	padding-top:50px;
}

#lsh-3{
	font-family:arial; 
	font-size:28px; 
	color:grey; 
	display:inline-block; 
	vertical-align:top;
}

#salescopy1-hide{
	padding-top:2px; 
	color:grey;
}

#coffee{
	height:670px; 
	background-color: brown; 
	background: url(images/xtra.jpg); 
	background-size: cover; 
	background-position:center center; 
	padding:10px 0px;
}

#coffeexo{
    height:620px; 
    background-color: brown; 
    background: url(images/xtra2.jpg); 
    background-size: cover; 
    background-position:center center; 
    padding:10px 0px;
}

#coffee-hide{
	background: rgba(0,0,0,0.35); 
	padding: 10px; 
	width:97%; 
	height:95%;
}

#mainlogodiv{
	width:1320px; 
	min-width:99%; 
	height:52px; 
	margin-top:5px;

}

#landslogan-text{
	width: 850px; 
	height:auto; 
	max-height:500px; 

	font-family:Arial; 
	font-weight:bolder; 
	font-size:80px; 
	margin-top:30px;
}

#one0{
	margin-left:70px;
}

#one1{
	font-size:110px; 
	color:orangered; 
	margin-top:-35px; 
	margin-left:100px;
}

#one1a{
	display:inline-block; 
	vertical-align:top; 
	margin-top:-95px; 
	margin-left:50px;
}

#one2{
	font-size:120px; 
	color:#0DC4FD; 
	display:inline-block; 
	margin-top:-115px;
}

#one3{
	margin-top:-100px; 
	margin-left: 200px; 
	border:1px solid transparent;
}

#boxinfo{
	width:33%; 
	height:340px; 

	display:inline-block; 
	vertical-align:top; 
	margin-left:-13px; 
	padding:4px;

	margin-top: 10px;
}

#foot1{
	width:1320px; 
	min-width:100%; 

	height:220px;   
	background-size: 100% auto; 	 

    background: url(images/backfoot.png);
    background-repeat: repeat-x repeat-y;

	color: darkgrey; 
	padding:10px 0px 20px 0px; 

	box-shadow: 0 0.125em 0.8em 0 rgba(0, 0, 0, 0.25); 
	-moz-box-shadow: 0 0.125em 0.8em 0 rgba(0, 0, 0, 0.25); 
	-webkit-box-shadow: 0 0.125em 0.8em 0 rgba(0, 0, 0, 0.25);
}

#foot2{
	width:1320px; 
	min-width:100%; 

	height:50px; 
    background: #292929;
}

#zipbox{
	width:900px; 

	border:1px solid grey; 
	border-radius:5px; 

	-moz-border-radius:5px; 
	-webkit-border-radius:5px; 
	padding:30px; 
	padding-top:30px; 
	color:lightgrey; 
	font-family:calibri; 
	font-size:17px; 
	background: rgba(0, 0, 0, 0.55);
}

#zipbox-top{
	color:white; 
	font-family:rounded; 
	font-size:32px; 
	margin-top:36px;
}

#zipbox-bottom{
	background: rgba(0, 0, 0, 0.55); 
	border-radius:5px; 
	-moz-border-radius:5px; 
	-webkit-border-radius:5px; 

	width: 650px; 
	height:150px; 
	padding:40px 0px 30px 0px; 
	margin-top:0px;
}

#l1{
	font-size:18px;
	font-family:rounded;

	padding:0px 20px;
}

#l2{
	font-size:66px;
}

#l3, #l3a{
	font-size:52px;
}

#l4, #l4a{
	font-size:16px; 
	font-family:rounded;
}


#stat{
	 font-family:calibri; 
	 font-size:85px;
}

#afternoon-text{
	font-family:rounded; 
	font-size:56px; 
	color:white; 
	padding-top:260px; 
	margin-left:0px;
}

#journey-text{
	font-family:rounded; 
	font-size:32px; 
	color:white; 
	padding-top:500px; 
	opacity:0.6;
}

#sc1-1{
	font-family:Arial; 
	font-size:48px; 
	padding-top:150px;
}

#sc1-2{
	font-family:rounded; 
	font-size:40px; 
	margin-top:130px;
}

#zbb-1{
	margin:0px 0px 3px 0px; 
	font-family:rounded; 
	font-size: 16px; 
	color:whitesmoke;
}

#zbb-2{
	margin:0px 0px 23px 0px; 
	font-family:rounded; 
	font-size: 15px; 
	color:lightgrey;
}

#zbb-3{
	margin:0px 0px 13px 0px; 
	font-family:rounded; 
	font-size: 14px; 
	color:lightgrey;
}

#learn-more{
	width: 450px; 
	background: royalblue; 

	border-radius:5px; 
	-moz-border-radius:5px; 
	-webkit-border-radius:5px; 

	padding:3px; 
	height:40px;
}

#learn-more-button{
	float:left; 
	background:royalblue; 
	color:white; 
	border:1px solid royalblue;
}

#steps{
	width: 250px; 
	display:inline-block; 
	vertical-align:top;
}

#engage{
	display:inline-block; 
	vertical-align:top; 
	color:yellowgreen; 
	font-size:72px; 
	margin-top:-15px;
}

#content{
	font-size:48px; 
	color:#FC0081
}

#stories{
	display:inline-block; 
	vertical-align:top; 
	margin-top:-10px;
	font-size: 48px;
}

#experiences{
	font-family:arial; 
	font-weight:bolder; 
	color:orangered; 
	font-size:56px;
}

#lets{
	padding:40px 0px 20px 0px; 
	color:grey; 
	font-family:rounded; 
	font-size:62px;
}

.imhov{
  transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
}

.imhov:hover{
	opacity: 0.7;
  transform: scale(0.95);
  -moz-transform: scale(0.95);
  -webkit-transform: scale(0.95);
  -o-transform: scale(0.95);
  -ms-transform: scale(0.95); /* IE 9 */
  -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(M11=1.5, M12=0, M21=0, M22=1.5, SizingMethod='auto expand')"; /* IE8 */
   filter: progid:DXImageTransform.Microsoft.Matrix(M11=1.5, M12=0, M21=0, M22=1.5, SizingMethod='auto expand'); /* IE6 and 7 */ 
}

.imhov2{
	transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -webkit-transition: all 1s ease;
  -o-transition: all 1s ease;
}


.imhov2:hover{
	 transform: scale(0.95);
  -moz-transform: scale(0.95);
  -webkit-transform: scale(0.95);
  -o-transform: scale(0.95);
  -ms-transform: scale(0.95); /* IE 9 */
  -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(M11=1.5, M12=0, M21=0, M22=1.5, SizingMethod='auto expand')"; /* IE8 */
   filter: progid:DXImageTransform.Microsoft.Matrix(M11=1.5, M12=0, M21=0, M22=1.5, SizingMethod='auto expand'); /* IE6 and 7 */ 

}


.custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}

#custom-file{
	display: none;
}



#vsc1{
	width:600px; 

}

#vsc1h1{
	color:grey; 
	font-size:42px;
}

#vsc1p{
	color:lightgrey; 
	font-size:24px; 

	font-family: verdana;
	 padding:7px 0px 50px 0px;
}

#vsc2{
	width:720px; 
	height:auto; 
	min-height: 200px; 


	padding:2px 2px 32px 2px;

	background:white; 
	display:inline-block; 
	vertical-align:top; 

	box-shadow: 0 0.0125em 0.6em 0 rgba(0, 0, 0, 0.25); 
	-moz-box-shadow: 0 0.0125em 0.6em 0 rgba(0, 0, 0, 0.25); 
	-webkit-box-shadow: 0 0.0125em 0.6em 0 rgba(0, 0, 0, 0.25);
}

#vsc3{
	width:400px;
	height: auto; 
	min-height: 600px; 


	display:inline-block; 
	vertical-align:top; 

	margin: 0px 10px; 
	padding:10px; 

	background:white; 

	box-shadow: 0 0.0125em 0.6em 0 rgba(0, 0, 0, 0.25); 
	-moz-box-shadow: 0 0.0125em 0.6em 0 rgba(0, 0, 0, 0.25); 
	-webkit-box-shadow: 0 0.0125em 0.6em 0 rgba(0, 0, 0, 0.25);
}

#vsc4{
	width:400px;
}

#formex{
	width:350px; 
	height:0px; 

	font-family:rounded; 
	color:grey; 

	visibility:hidden; 
	border:1px solid lightgrey; 

	margin: 30px 0px 0px 0px; 

	border-radius:10px; 
	-moz-border-radius:10px; 
	-webkit-border-radius:10px; 
}



/* ###########################################################################################################################  */ 

@media screen and (min-width: 1201px) and (max-width: 1319px){
	.sec{
		width: 1150px;
	}

	#mainlogodiv{
    width: 1150px; 
	min-width:99%;
    }

	#foot1, #foot2{
		width: 1150px;
	}

	   #afternoon-text{
    	font-size: 52px;
    }

    #journey-text{

    }

}

@media screen and (min-width: 1001px) and (max-width: 1200px){
	.sec{
		width: 950px;
	}

	#mainlogodiv{
    width: 950px; 
	min-width:99%;
    }

	#foot1, #foot2{
		width: 950px;
	}

	#boxinfo{
    	width:33%;
    	padding: 3px;

    	font-size: 38px;
    }

    #l3a{
    	font-size: 38px;
    	margin-top: 8px;
    }

    #l4a{
    	margin-top: 7px;
    }

     #afternoon-text{
    	font-size: 50px;
    }

    #journey-text{

    }

    #zipbox-top{
    	font-size: 30px;
    }

    #zipbox{
    	width: 800px;
    }

    #zipbox-bottom{
    	width: 680px;
    	height: 140px;
    }

    #steps{
    	width: 220px;
    }

    #sc1-1{
    	font-size: 40px;
    	padding-top: 100px;
    	margin: 50px 20px 130px 20px;
    }

    #sc1-2{
    	font-size: 38px;
    	margin-top: 150px;
    }

     #vsc3{
    	width: 700px;
    	margin-top: 30px;
    }

}

@media screen and (min-width: 850px) and (max-width: 1000px) {

	.sec {
    width: 800px;
    min-width: 100%;   
    }

    #mainlogodiv{
    width:800px; 
	min-width:99%;
    }

    #landslogan-text{
    	font-size: 60px;
    }

    #one1{
    	font-size: 90px;
    	margin-bottom: 20px;
    }

    #one2{
    	font-size: 100px;
    	margin-bottom: 10px;
    }

    #landslogan-text{
    	width: 780px;
    	margin-top: 80px;
    }

    #boxinfo{
    	width:33%;
    	padding: 3px;

    	font-size: 38px;
    }

    #foot1, #foot2{
    	width:800px;
    }

    #zipbox{
    	width:750px;
    }


    #l1{
    	font-size: 16px;
    }

    #l2{
    	font-size: 52px;
    }

    #l3{
    	font-size: 50px;
    }

    #l3a{
    	font-size: 34px;
    	margin-top: 8px;
    }

    #l4{
    	font-size: 15px;
    }

    #l4a{
    	margin-top: 7px;
    }

    #stat{
    	font-size: 78px;
    }

    #afternoon-text{
    	font-size: 48px;
    }

    #journey-text{

    }

    #sc1-1{
    	font-size: 36px;
    	padding-top: 100px;
    	margin: 50px 20px 130px 20px;
    }

    #sc1-2{
    	font-size: 32px;
    	margin-top: 150px;
    }

    #zipbox-top{
    	font-size: 28px;
    }

    #zipbox-bottom{
    	width: 600px;
    	height: 120px;
    }

    #zbb-1{
    	font-size: 15px;
    	margin:0px 0px 3px 0px; 
    }

    #zbb-2{
    	font-size: 14px;
    	margin:0px 0px 16px 0px; 
    }

    #zbb-3{
    	font-size: 13px;
    	margin:0px 0px 10px 0px; 
    }

    #learn-more{
    	height: 35px;
    }

    #zone{
    	height: 35px;
    }

    #learn-more-button{
    	height: 32px;
    }

    #steps{
    	width: 200px;
    }

    #landslogan3-hide{
    	font-size: 38px;
    	margin-top: 60px;
    	padding: 15px;
    }

    #lsh-1{
    	font-weight:32px;
    	padding: 15px;
    }

    #lsh-3{
    	font-size: 26px;
    }

    #stories{
    	font-size: 44px;
    }

    #vsc3{
    	width: 700px;
    	margin-top: 30px;
    }

   
}

@media screen and (min-width: 600px) and (max-width: 849px){
	.sec{
		width: 550px;
		min-width: 100%;		
	}

	#mainlogodiv{
    width: 550px; 
	min-width:99%;
    }

	#foot1, #foot2{
		width: 550px;
	}

	#one1{
    	font-size: 80px;
    	margin-bottom: 20px;
    }

    #one2{
    	font-size: 90px;
    	margin-bottom: 10px;
    }

    #landslogan-text{
    	font-size: 60px;
    	width: 510px;
    	margin-top: 110px;
    }

	#landslogan2{
		height: auto;
		padding-bottom: 30px;
	}

	#boxinfo{
		width: 50%;
		height: 300px;
		display: inline-flex;

		margin-bottom: 30px;
	}

	#coffee{
		height: 1120px;
	}

    #coffeexo{
        height: 1000px;
    }

	#zipbox{
		height: auto;
		width: 450px;
	}

	#zipbox-bottom{
		width: 510px;
	}

	#steps{
		width: 200px;
		height: 200px;
		display: block;
		border-bottom: 1px solid lightgrey; 

		margin-bottom: 20px;
	}

	#zbb-1{
    	font-size: 14px;
    	margin:0px 0px 3px 0px; 
    }

    #zbb-2{
    	font-size: 13px;
    	margin:0px 0px 16px 0px; 
    }

    #zbb-3{
    	font-size: 13px;
    	margin:0px 0px 10px 0px; 
    }

	#l1{
    	font-size: 14px;
    }

    #l2{
    	font-size: 48px;
    }

    #l3{
    	font-size: 42px;
    }

    #l3a{
    	font-size: 28px;
    	margin-top: 8px;
    }

    #l4{
    	font-size: 13px;
    }

    #l4a{
    	margin-top: 7px;
    }

    #stat{
    	font-size: 78px;
    }

    #sc1-1{
    	font-size: 32px;
    	padding-top: 100px;
    	margin: 20px 20px 80px 20px;
    }

    #sc1-2{
    	font-size: 30px;
    	margin-top: 120px;
    }

    #one0{
    	margin-left: 20px;
    }

    #one1{
    	margin-left: 50px;
    }

    #one1a{
    	margin-left: 10px;
    }

    #one3{
    	margin-left: 40px;
    }

    #afternoon-text{
    	font-size: 40px;
    }

    #journey-text{
    	font-size: 30px;
    }

    #landslogan3-hide{
    	font-size: 30px;
    	padding: 15px;
    }

    #lsh-1{
    	font-size: 28px;
    	padding: 15px;
    }

    #engage{
    	font-size: 60px;
    	margin-top: -10px;
    }

    #content{
    	font-size: 42px;
    }

    #landslogan3{
    	height: 620px;
    }

    #info1{
    	width: 100%;
    }

    #coffee-hide{
    	width: 95%;
    	height: 98%;
    }


    #learn-more{
    	width: 350px;
    	height: 35px;
    }

    #zone{
    	width: 230px;
    	height: 35px
    }

    #learn-more-button{
    	width: 100px;
    	margin-left: 10px;
    	height: 35px;
    }

    #lsh-3{
    	font-size: 24px;
    }

    #stories{
    	font-size: 42px;
    }

    #vsc1{
    	width: 550px;
    }

    #vsc1h1{
    	font-size: 36px;
    }

    #vsc1p{
    	font-size: 18px;
    }

    #vsc2{
    	width: 550px;
    	padding: 10px;
    }

    #vsc3{
    	width: 550px;
    	margin-top: 30px;
    }

   
}


@media screen and (min-width: 350px) and (max-width: 599px){

	.sec{
		width: 340px;
		min-width: 100%;		
	}

	#mainlogodiv{
    width: 350px; 
	min-width:99%;
	height: 40px;
    }

	#foot1, #foot2{
		width: 340px;
	}

	#one0{
    	margin-left: 10px;
    	margin-bottom: 5px;
    	font-size: 44px;
    }

    #one1{
    	margin-left: 40px;
    	margin-bottom: 25px;
    	font-size: 72px;

    }

    #one1a{
    	margin-left: 5px;
    	font-size: 48px;
    	
    }

    #one2{
    	font-size: 78px;
    	margin-bottom: 0px;
    }

    #one3{
    	margin-left: 20px;
    	font-size: 40px;
    	padding: 0px;
    }

    #landslogan-text{
    	font-size: 60px;
    	width: 340px;
    	margin-top: 110px;
    }

	#landslogan2{
		height: auto;
		padding-bottom: 30px;
	}

	#boxinfo{
		width: 50%;
		min-width: 280px;
		height: 300px;
		display: inline-flex;

		margin-bottom: 30px;
	}

	#l1{
    	font-size: 14px;
    }

    #l2{
    	font-size: 48px;
    }

    #l3{
    	font-size: 42px;
    }

    #l3a{
    	font-size: 28px;
    	margin-top: 8px;
    }

    #l4{
    	font-size: 13px;
    }

    #l4a{
    	margin-top: 7px;
    }

    #stat{
    	font-size: 78px;
    }

    #lsh-2{
    	height: 10%;
    	font-size: 38px;
    	padding: 50px 0px 30px 0px; 

    }

    #landslogan3-hide{
    	font-size: 24px;
    	padding: 10px;
    }

    #engage{
    	font-size: 48px;
    	margin-top:-10px;
    }

    #content{
    	font-size: 38px;
    }

    #lsh-1{
    	font-size: 20px;
    }

    #lsh-3{
    	font-size: 22px;
    }

    #stories{
    	font-size: 40px;
    }

    #afternoon{
    	height: 500px;
    }

    #journey{
    	height: 500px;
    }


   #afternoon-text{
   		font-size: 26px;
   		font-weight: normal;
   		padding-top: 200px;
   }

   #journey-text{
   		font-size: 22px;
   		padding-top: 350px;
   }

    #sc1-1{
    	font-size: 32px;
    	padding-top: 100px;
    	margin: 20px 20px 80px 20px;
    }

    #sc1-2{
    	font-size: 30px;
    	margin-top: 120px;
    	padding: 10px;
    }


    #coffee{
		height: 1220px;
	}

    #coffeexo{
        height: 1100px;
    }

	#zipbox{
		height: auto;
		width: 60%;
		min-width: 250px;
	}

	#zipbox-bottom{
		width: 60%;
		min-width: 330px;
		height: 200px;
		

		background-color: transparent;
	}

	#steps{
		width: 200px;
		height: 200px;
		display: block;
		border-bottom: 1px solid lightgrey; 

		margin-bottom: 20px;
	}

	#zbb-1{
    	font-size: 14px;
    	margin:0px 0px 3px 0px; 
    }

    #zbb-2{
    	font-size: 13px;
    	margin:10px 0px 16px 0px; 
    	padding: 15px;
    }

    #zbb-3{
    	font-size: 12px;
    	margin:0px 0px 10px 0px; 
    }

    #info1{
    	width: 100%;
    }

    #coffee-hide{
    	width: 93%;
    	height: 98%;
    }


    #learn-more{
    	width: 315px;
    	height: 35px;
    }

    #zone{
    	width: 200px;
    	height: 35px
    }

     #learn-more-button{
    	width: 100px;
    	margin-left: 10px;
    	height: 35px;
    }

    #lets{
    	font-size: 42px;
    }

    #experiences{
    	font-size: 42px;
    }

    #salescopy1{
    	height: 700px;
    }

    #landslogan{
    	height: 550px;
    }

    #landslogan3{
    	height: 575px;
    }

    #lets2{
    	font-size: 14px;
    }

    #lets3{
    	font-size: 14px;
    }

    #vsc2{
    	width: 330px;
    	min-height: 100px;

    	padding: 10px;
    	height: auto;
    }

    #vsc1{
    	width: 330px;
    }

    #vsc1h1{
    	font-size: 24px;
    }

    #vsc1p{
    	font-size: 14px;
    }

    #vsc3{
    	width: 330px;
    	min-height: 200px;
    	margin-top: 30px;
    }

    #vsc4{
    	width: 340px;
    	font-size: 14px;
    }

    #formex{
    	width: 330px;
    }

    #toTop{
        right: 20px;
        bottom: 40px;
    }


}

@media screen and (min-width: 250px) and (max-width: 349px){

    .sec{
        width: 250px;
        min-width: 100%;        
    }

    #mainlogodiv{
    width: 250px; 
    min-width:99%;
    height: 40px;
    }

    #foot1, #foot2{
        width: 250px;
    }

    #one0{
        margin-left: 10px;
        margin-bottom: 5px;
        font-size: 44px;
    }

    #one1{
        margin-left: 40px;
        margin-bottom: 25px;
        font-size: 52px;
        margin-top: -20px;

    }

    #one1a{
        margin-left: 5px;
        font-size: 42px;
        
    }

    #one2{
        font-size: 52px;
        margin-bottom: 0px;
        margin-left: 150px;
        margin-top: -80px;
    }

    #one3{
        margin-left: 20px;
        font-size: 42px;
        padding: 0px;
    }

    #landslogan-text{
        font-size: 60px;
        width: 240px;
        margin-top: 110px;
    }

    #landslogan2{
        height: auto;
        padding-bottom: 30px;
    }

    #boxinfo{
        width: 50%;
        min-width: 230px;
        height: 300px;
        display: inline-flex;

        margin-bottom: 30px;
    }

    #l1{
        font-size: 14px;
    }

    #l2{
        font-size: 48px;
    }

    #l3{
        font-size: 42px;
    }

    #l3a{
        font-size: 28px;
        margin-top: 8px;
    }

    #l4{
        font-size: 13px;
    }

    #l4a{
        margin-top: 7px;
    }

    #stat{
        font-size: 78px;
    }

    #lsh-2{
        height: 10%;
        font-size: 38px;
        padding: 50px 0px 30px 0px; 

    }

    #landslogan3-hide{
        font-size: 24px;
        padding: 10px;
    }

    #engage{
        font-size: 48px;
        margin-top:-10px;
    }

    #content{
        font-size: 38px;
    }

    #lsh-1{
        font-size: 20px;
    }

    #lsh-3{
        font-size: 22px;
    }

    #stories{
        font-size: 40px;
    }

    #afternoon{
        height: 500px;
    }

    #journey{
        height: 500px;
    }


   #afternoon-text{
        font-size: 26px;
        font-weight: normal;
        padding-top: 200px;
   }

   #journey-text{
        font-size: 22px;
        padding-top: 350px;
   }

    #sc1-1{
        font-size: 32px;
        padding-top: 100px;
        margin: 20px 20px 80px 20px;
    }

    #sc1-2{
        font-size: 30px;
        margin-top: 120px;
        padding: 10px;
    }


    #coffee{
        height: 1220px;
    }

    #coffeexo{
        height: 1100px;
    }

    #zipbox{
        height: auto;
        width: 60%;
        min-width: 200px;
    }

    #zipbox-bottom{
        width: 60%;
        min-width: 200px;
        height: 200px;
        

        background-color: transparent;
    }

    #steps{
        width: 200px;
        height: 200px;
        display: block;
        border-bottom: 1px solid lightgrey; 

        margin-bottom: 20px;
    }

    #zbb-1{
        font-size: 14px;
        margin:0px 0px 3px 0px; 
    }

    #zbb-2{
        font-size: 13px;
        margin:5px 0px 5px 0px; 
        padding: 15px;
    }

    #zbb-3{
        font-size: 12px;
        margin:0px 0px 10px 0px; 
    }

    #info1{
        width: 100%;
    }

    #coffee-hide{
        width: 93%;
        height: 98%;
    }


    #learn-more{
        width: 315px;
        height: 35px;
    }

    #zone{
        width: 200px;
        height: 35px
    }

     #learn-more-button{
        width: 100px;
        margin-left: 10px;
        height: 35px;
    }

    #lets{
        font-size: 42px;
    }

    #experiences{
        font-size: 42px;
    }

    #salescopy1{
        height: 700px;
    }

    #landslogan{
        height: 550px;
    }

    #landslogan3{
        height: 575px;
    }

    #lets2{
        font-size: 14px;
    }

    #lets3{
        font-size: 14px;
    }

    #vsc2{
        width: 330px;
        min-height: 100px;

        padding: 10px;
        height: auto;
    }


    /* nxnbxjdcbjdcb */

    #vsc1{
        width: 240px;
    }

    #vsc1h1{
        font-size: 24px;
    }

    #vsc1p{
        font-size: 14px;
    }

    #vsc3{
        width: 240px;
        min-height: 200px;
        margin-top: 30px;
    }

    #vsc4{
        width: 240px;
        font-size: 14px;
    }

    #formex{
        width: 240px;
        border: 1px solid transparent;
    }

    #toTop{
        right: 20px;
        bottom: 40px;
    }

}



