
.file-upload {
	overflow: hidden;
	display: inline-block;
	position: relative;	
	vertical-align: middle;
	text-align: center;

	

	/* Cosmetics */
	color: royalblue;
	background: white;
	border: 1px solid royalblue;
	opacity:0.8;

    font-family: Arial;

	padding-top: 12px;
	margin-top: -12px;

	cursor: pointer;

	/* Nice if your browser can do it */
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	
    }
	
.file-upload:hover { 
	background: white; 
	color: royalblue;
	border: 1px solid royalblue;
	opacity: 0.9;

	cursor: pointer;
	
	-webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
	}

.file-upload.focus { 
	outline: 2px solid white;
	cursor: pointer;
	}

.file-upload input {
	position: absolute;
	top: 0;
	left: 0;
	margin: 0;
	font-size: 70px;

	cursor: pointer;

	/* Loses tab index in webkit if width is set to 0 */
	opacity: 0;
	filter: alpha(opacity=0);
	}

.file-upload strong { 
	font-family: calibri;
	font-size: 16px; 
	cursor: pointer;
	}	
	
.file-upload span {
	position: absolute;
	top: 0;
	left: 0;
	display: inline-block;
	cursor: pointer;

	/* Adjust button text vertical alignment */
	padding-top: 10px;
	}

/* Adjust the button size */	
.file-upload { height: 30px; }
.file-upload,
.file-upload span {	width: 151px; }	

.file-upload-status {
	margin-left: 10px;
	padding-top: 10px;
	vertical-align: middle;
	cursor: pointer;
	padding: 7px 11px;
	font-weight: bold;	
	font-size: 16px;
	color: #888;
	background: #f8f8f8;
	border: 3px solid #ddd;
	}